<%= simple_form_for :message, url: [:reply_conversation], :html => { :id => 'reply_form' }, remote: true do |f| %>

	<%= f.input :body, error: false, label: false, placeholder: 'Reply to conversation...', input_html: { class: 'forms', id: 'cv_form', rows: '1', autocomplete: 'off' } %>

	<span id="spinner" class="spinner">
		<%= image_tag '/assets/ajax-loader-(6).GIF', id: 'img-spinner', alt: 'Loading' %>
	</span>
			
	<%= f.submit "Reply", class: 'btn btn-success' %>

<% end %>