  <% @media.each do |medium| %>
      <div class="media">

        <%= link_to image_tag(medium.asset.url(:list)), medium %>

        <% if medium.caption? %>
          <div class="media_cap">
            <%= medium.caption %>
          </div>
        <% end %> 

        <% if can_edit_medium?(medium) %>
          <div>
            <%= link_to "Delete", medium, method: :delete, data: { confirm: "Are you sure?" }, class: 'label label-important delete_label' %>
          </div>
        <% end %>

      </div>
  <% end %>