<% title @member.full_name %>

    <%= render :partial => "events_nav" %>

    <!--/nav_wrap-->

    <div id="prs_wrap">

        <% if @events.count > 0 %>

            <div id="media_query_prev">
                <div id="prof_prs">
                    <div id="prs">
                        <%= render :partial => "events" %>
                    </div>
                </div>
            </div>  

        <% else %>

            <div class="none_message2">
                No Events Yet
            </div>

        <% end %>  

    </div>