<% title @member.full_name + " | Followers" %>

<%= render :partial => "follow_nav" %>

<!--/nav_wrap-->

<div id="follow_title">
	<div class="label">
		Followers
	</div>
</div>

<div id="media_query_follow">
    <div id="follow_list_wrap">
    	<%= render :partial => "followers" %>       
    </div>
</div>

<%= will_paginate @followers, class: 'display_none' %>

<% if @followers.total_pages != @followers.current_page %>
    <div id="loading"></div>
    <%= link_to("#", class: "com_show_wrap load_arrow") do %>
    	<div class="com_show">
    		Show More
    	</div>
    <% end %>
<% end %>