<% title @member.full_name + " x Following" %>

<%= render :partial => "follow_nav" %>

<!--/nav_wrap-->

<div id="m_wrap" style="margin-top:30px;">
    <div id="media_query_follow">
        <div id="follow_list_wrap">
        	<%= render :partial => "following", :collection => @following, :as => :follow %>       
        </div>
    </div>

    <%= will_paginate @following, class: 'display_none' %>

    <% if @following.total_pages != @following.current_page %>
        <div id="loading"></div>
        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
        	<div class="com_show">
        		Show More
        	</div>
        <% end %>
    <% end %>
</div>