<% title @member.full_name + " | Following" %>

<div id="follow_title">
	<div class="label-info">
		Following
	</div>
</div>

<div id="follow_list_wrap">

	<%= render :partial => "following" %>       

</div>