<% title @member.full_name + " | Following" %>

<div id="follow_title">
	<div class="label-info">
		Following
	</div>
</div>

<div id="follow_list_wrap">
	<%= render :partial => "following" %>       
</div>

<%= will_paginate @following, class: 'display_none' %>

<div class="load_more" id="load_arrow">
    <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
</div>