<% title @member.full_name %>

    <%= render :partial => "market_nav" %>

    <% if @brands.count > 0 %>
        <div id="b_index">
            <%= render :partial => "brands/brands" %>
        </div>         
        <% else %>
            <div class="none_message">
                No Favorites Yet
            </div>
    <% end %>

    <%= will_paginate @brands, class: 'display_none' %>

    <% if @brands.total_pages != @brands.current_page %>
        <div id="loading"></div>
        <%= link_to("#", class: "com_show_wrap load_arrow") do %>
            <div class="com_show">
                Show More
            </div>
        <% end %>
    <% end %>
