<% title @member.full_name %>

    <%= render :partial => "market_nav" %>

    <div id="bp_h_wrap">
    	<div class="bl_wrap">
    		<%= link_to(brands_path, class: "") do %>
			    <div class="label">
			    	Brands
			    </div>
		    <% end %>
		</div>

		<% if @brands.count > 0 %>
	    	<div id="b_index">
		    	<%= render partial: 'brands/brands' %>
			</div>
		<% else %>
			<div class="none_message">
                No Brands Yet
            </div>
        <% end %>
	</div>

    <div id="bp_h_wrap">
    	<div class="bl_wrap">
    		<%= link_to("#", class: "") do %>
			    <div class="label">
			    	Listings
			    </div>
		    <% end %>
		</div>
	</div>
