<% title @member.full_name + " | Upload Media" %>

    <%= render :partial => "media_nav" %>

    <!--/stream_wrap-->

    <div id="media_content_wrap">

        <div class="med_instructions">
            <ul>
              <li>
                &raquo; Maximum file size of 10MB
              </li>
              <li>
                &raquo; Accepted file formats: (jpeg, png, gif, mp3)
              </li>
            </ul>
          </div>

    	<%= render :partial => "media/form" %>

        <div style="clear: both;"></div>
    </div>
    
<!--/activity_wrap-->