<% title @member.full_name + " | Upload Media" %>

    <div id="media_subnav_wrap">

        <ul class="sub_stream">
            <li>
                <%= link_to '<i class="icon-th-large icon-white"></i> All Media'.html_safe, profile_media_path(@member), class: 'all_media' %>
            </li>  
            
            <li>
                <%= link_to '<i class="icon-heart icon-white"></i> Favorites'.html_safe, profile_media_fav_path(@member), class: 'media_fav_subnav' %>
            </li> 
      
        </ul>
                   

    <div style="clear:both;"></div>
    </div>

    <!--/media_subnav_wrap-->

    <div id="media_content_wrap">

        <div class="med_instructions">
            <ul>
              <li>
                &raquo; Maximum file size of 10MB
              </li>
              <li>
                &raquo; Accepted file formats: (jpeg, png, gif, mp3)
              </li>
            </ul>
          </div>

    	<%= render :partial => "media/form" %>

        <div style="clear: both;"></div>
    </div>
    
<!--/activity_wrap-->