<% title @member.full_name %>

    <%= render :partial => "projects_nav" %>

    <!--/nav_wrap-->

    <div id="p_form_wrap">
        <div id="edit_wrap">
            <%= render :partial => "projects/form" %>
        </div>
    </div>