<% if listing.embed =~ /^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be|vimeo\.com)\/.+$/ %>
	<div class="lst_emb_icon"><i class="fa fa-youtube-play"></i></div>
	<% if listing.cover? %>
		<%= link_to image_tag(listing.cover.url(:cover)), listing_path(listing), title: listing.title, alt: listing.title %>
	<% else %>
		<%= link_to image_tag('/assets/Listing-Embed-Video-Activity.png'), listing_path(listing), title: listing.title, alt: listing.title %>
	<% end %>
<% elsif listing.embed =~ /^(https?\:\/\/)?(www\.)?(soundcloud\.com)\/.+$/ %>
	<div class="lst_emb_icon"><i class="fa fa-volume-up"></i></div>
	<% if listing.cover? %>
		<%= link_to image_tag(listing.cover.url(:cover)), listing_path(listing), title: listing.title, alt: listing.title %>
	<% else %>
		<%= link_to image_tag('/assets/Listing-Embed-Audio-Activity.png'), listing_path(listing), title: listing.title, alt: listing.title %>
	<% end %>
<% end %>