<% if listing.embed =~ /^(https?\:\/\/)?(www\.)?(youtube\.com|youtu\.?be|vimeo\.com)\/.+$/ %>
	<div class=""></div>
	<% if listing.cover? %>
		<%= link_to image_tag(listing.cover.url(:large2)), listing_path(listing), title: listing.title, alt: listing.title %>
	<% else %>
		<%= link_to image_tag('/assets/Default-Video-Embed.jpg'), listing_path(listing), title: listing.title, alt: listing.title %>
	<% end %>
<% elsif listing.embed =~ /^(https?\:\/\/)?(www\.)?(soundcloud\.com)\/.+$/ %>
	<div class=" sc"></div>
	<% if listing.cover? %>
		<%= link_to image_tag(listing.cover.url(:large2)), listing_path(listing), title: listing.title, alt: listing.title %>
	<% else %>
		<%= link_to image_tag('/assets/Default-Audio-Embed.jpg'), listing_path(listing), title: listing.title, alt: listing.title %>
	<% end %>
<% end %>