<span id="lstgs_fav_<%= listing.id %>_<%= listing.member.id %>" class="l_out">
    <%= link_to sign_in_path, title: "Login to add to favorites", alt: "Login to add to favorites", :class => "" do %>
        <i class="fa fa-heart ims-act fav_l"></i>
    <% end %>
</span>