<% if @listing.feature.content_type =~ /^image\/(png|gif|jpeg)/ %>
  <div class="feature">
    <%= link_to image_tag(@listing.feature.url(:large2)), @listing.feature.url, class: "fancybox", rel: "product_gall" %>
  </div>
<% end %>

<% if @listing.feature.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
  <div class="feature act_media_content lst_wrap">
    <% if @listing.cover? %>
      <div id='lstgs_art' style="background-image: url(<%= @listing.cover.url(:large2) %>)">
    <% else %>
      <div id='lstgs_art' style="background-image: url('/assets/Default-Audio.jpg')">
    <% end %>
      <div class="lst_play_btn">
        <%= link_to @listing.feature.url, class: 'sm2_button', title: 'Play/Pause', alt: 'Play/Pause' do %>
          <i class="fa fa-play-circle-o"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>