<% title @listing.title %>

<div id="banner" style="background-image: url('/assets/Market Banner.png');"></div>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
