<% title "LLF | Statuses" %>

<div id ="main_wrap">

		<h1>Statuses</h1>

			<%= link_to 'Post to Stream', profile_path(current_member), :class => 'btn btn-info' %>

			<div id="statuses">
				<%= render partial: 'statuses' %>
			</div>

	<!--/activity_wrap-->

	<%= will_paginate @statuses, class: 'display_none' %>

	<% if @statuses.next_page %>
		<div class="load_more" id="load_arrow">
	        <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
	   	</div>
	<% end %>

</div>

<!--/main_wrap-->