<% title "LLF | Statuses" %>

<div id ="main_wrap">

		<h1>Statuses</h1>

			<%= link_to 'Post to Stream', profile_path(current_member), :class => 'btn btn-info' %>

			<div id="statuses">
				<%= render partial: 'statuses' %>
			</div>

	<!--/activity_wrap-->

	<%= will_paginate @statuses, class: 'display_none' %>

	<% if @statuses.total_pages != @statuses.current_page %>
		<div id="loading"></div>
		<%= link_to("#", class: "com_show_wrap load_arrow") do %>
        	<div class="com_show">
        		Show More
        	</div>
        <% end %>
	<% end %>

</div>

<!--/main_wrap-->