<% title "LLF | Status" %>

<div id="main_wrap">

	<div id="activity_wrap">

		<p id="notice"><%= notice %></p>

		<p>
		  <b>Username:</b>
		  <%= @status.member.user_name %>
		</p>

		<p>
		  <b>Content:</b>
		  <%= @status.content %>
		</p>

		<% if @status.document && @status.document.attachment? %>
            <div>
                <%= status_document_link @status %>
            </div> 
        <% end %>

	<div style="clear: both;"></div>
	</div>

<!--/activity_wrap-->

</div>

<!--/main_wrap-->