<div id="banner" style="background-image: url('/assets/Community Banner Image.jpeg');background-attachment:fixed;">
	<div class="b_wrap">
		<div class="b_title">DISCOVER</div>
		<div class="b_byline">Discover someone epic!</div>
		<div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
	</div>
</div>
