	<div>
		<span class="status_name">
			<%= link_to activity.member.user_name, profile_path(activity.member) %>
		</span> 
		<span>
			is now following <%= link_to activity.member.following_member, "#" %>
		</span> 
		<span class="meta">
			 
		</span>
	</div>

	<div class="act_content">
		<%= follow_profile_link activity.member.following_member.first %>
	</div>
