Hi <%= @member.full_name %> (<%= @member.user_name %>),

Welcome to the LLF Community!! We are super excited to see what awesomeness you're bringing with you! If you need any help getting started check out our <%= link_to "FAQ's", faqs_path %>.

To jumpstart your experience we suggest discovering some people to follow that share your same pursuits and once your stream is starting to flow (pun intended), you should check out some epic events, projects, and listings.

&copy; LLF, llc.

support@livinglifefearless.co | <a href="http://beboldbefearless.co/">BLOG</a> <a href="http://beboldbefearless.tv/" class="bold_tv">VIDEOS</a> 