<div marginwidth="0" marginheight="0" style="background:#edeff0;width:100%!important;margin:0;padding:0">

	<center>

    	<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background:#edeff0;font-family:Helvetica,sans-serif;height:100%!important;margin:0;padding:0;width:100%!important;font-size:14px;color:#9ba6b0;table-layout:fixed;">
      		<tbody>

      			<tr>

        			<td align="center" style="vertical-align:top;padding-bottom:15px;border-collapse:collapse">
          
		          		<table border="0" cellpadding="0" cellspacing="0" style="width:90%;max-width:600px;margin-right:5%;margin-left:5%;display:block">
		            
		            		<tbody>

		            			<tr>
		                			<td align="center" style="vertical-align:top;border-collapse:collapse">		               
		                				<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
		                    				<tbody>
		                    					<tr>
		                    						<td align="left" width="180" style="width:180px;vertical-align:top;padding-top:21px;padding-bottom:21px;border-collapse:collapse">
		                        						<a href="http://l-l-f.co" target="_blank"><img width="180" height="22" style="width:180px;min-height:22px;border:0;line-height:100%;outline:none;text-decoration:none" src="https://s3.amazonaws.com/llf_assets/assets/assets/000/000/Blog+Logo+2.png"></a>
		                    						</td>
								                    <td>
								                      &nbsp;&nbsp;
								                    </td>
		                    					</tr>
		                					</tbody>
		                				</table>
		              				</td>
		            			</tr>

								<tr>
									<td align="center" style="vertical-align:top;border-collapse:collapse">
										<table border="0" cellpadding="0" cellspacing="0" style="background-color:#fff;border-top-left-radius:5px;border-top-right-radius:5px;width:100%">
										    <tbody>
										  		<tr>
										    		<td align="center" style="vertical-align:top;border-collapse:collapse;padding-top:3%;padding-right:7%;padding-left:7%">
										      			<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
										        			<tbody>
										        				<tr>
										          					<td style="margin-top:20px;vertical-align:top;font-size:18px;font-weight:bold;line-height:100%;padding-bottom:5px;text-align:left;border-collapse:collapse">
										            					<h1 style="margin-top:5px;font-family:Helvetica,sans-serif;color:#384047;display:block;font-size:24px;font-weight:bold;line-height:130%;letter-spacing:normal;margin-right:0;margin-bottom:15px;margin-left:0;text-align:left;color:#384047;text-decoration:none">
																			Welcome to the community!!!
										            					</h1>
										            				</td>
										        				</tr>
										        			</tbody>
										    			</table>
										    		</td>
										    	</tr>
											</tbody>
										</table>
									</td>
								</tr>

								<tr>
									<td align="center" style="vertical-align:top">
								    	<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;width:100%">
								        	<tbody>
								        		<tr>
								        			<td align="center" style="vertical-align:top;border-collapse:collapse;padding-left:7%;padding-right:7%;padding-bottom:2%">
								            			<table border="0" cellpadding="0" cellspacing="0">
								            				<tbody>
								            					<tr>
								              						<td colspan="2" style="border-top:1px solid #e2e5e8;border-bottom:1px solid #e2e5e8;vertical-align:top;color:#8d9aa5;font-size:14px;line-height:150%;text-align:left;padding-top:0;padding-bottom:10px;border-collapse:collapse;width:600px">
								                						<p style="margin-bottom:1em;"></p>
								                						<p style="margin-bottom:1em;">
								                							Hey there <b><%= @member.full_name %> <i>(<%= @member.user_name %>)</i></b>
								                						</p>
																		<p style="margin-bottom:1em;">
																			Welcome to the LLF Community!! We are super excited to see what awesomeness you're bringing with you! If you need any help getting started, our <a href="http://l-l-f.co/faqs" style="font-weight:bold;text-decoration:none;color:#942fc6" target="_blank">FAQ's</a> are a great place to start.
																		</p>
																		<p style="margin-bottom:1em;">
																			To jumpstart your experience we suggest discovering some people to follow that share your same pursuits and once your stream is starting to flow (pun intended), you should check out some of the epic events, projects, and listings.
																		</p>
																		<p style="margin-bottom:1em;">
																			<b>Be Bold. Be Fearless.</b>
																		</p>
								                						<p style="margin-bottom:1em;"></p>

								              						</td>
								            					</tr>
								            				</tbody>
								            			</table>
								        			</td>
								        		</tr>
								    		</tbody>
								    	</table>
								    </td>
								</tr>

					            <tr>
					              	<td align="left" style="vertical-align:top;border-collapse:collapse">
						                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
						                  	<tbody>
						                  		<tr>
								                    <td style="text-align:center;vertical-align:top;padding-top:25px;border-collapse:collapse">
								                    	<p style="font-family:Helvetica,sans-serif;line-height:160%;font-family:Helvetica,sans-serif;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0">
								                      		© LLF
								                      	</p>
								                      	<p style="font-family:Helvetica,sans-serif;line-height:160%;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0">
								                      		<a href="mailto:support@livinglifefearless.co" style="font-weight:bold;text-decoration:none;color:#9ba6b0" target="_blank">support@livinglifefearless.co</a>&nbsp;&nbsp;<span style="color:#b7c0c7">|</span>&nbsp;&nbsp;<a href="http://beboldbefearless.co/" style="font-weight:bold;text-decoration:none;color:#9ba6b0" target="_blank">Blog</a> <a href="http://beboldbefearless.tv/" style="font-weight:bold;text-decoration:none;color:#9ba6b0" target="_blank">Videos</a>
								                      	</p>
								                    </td>
						                  		</tr>
						                	</tbody>
						                </table>

						                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
						                  	<tbody>
						                  		<tr>
						                    		<td style="vertical-align:top;text-align:center;padding-top:30px;padding-bottom:5px;border-collapse:collapse">
								                    	<a href="https://www.facebook.com/livinglifefearless" target="_blank"><img width="39" height="42" style="width:39px;min-height:42px;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="https://s3.amazonaws.com/llf_assets/assets/assets/000/000/email_fb.png"></a>
								                      	<a href="https://twitter.com/llfofficial" target="_blank"><img width="39" height="42" style="width:39px;min-height:42px;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="https://s3.amazonaws.com/llf_assets/assets/assets/000/000/email_tw.png"></a>
								                      	<a href="http://instagram.com/llfofficial" target="_blank"><img width="39" height="42" style="min-height:42px;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="https://s3.amazonaws.com/llf_assets/assets/assets/000/000/email_ig.png"></a>
						                    		</td>
						                  		</tr>
						                	</tbody>
						            	</table> 
					              	</td>
					            </tr>

          					</tbody>

          				</table>
          
        			</td>

      			</tr>

    		</tbody>

    	</table>

  	</center>

</div>