<div id="banner" style="background-image: url('/assets/Market Banner Img.jpg');">
	<div class="b_wrap">
		<div class="b_title">MARKET</div>
		<div class="b_byline">Discover something epic!</div>
		<div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
	</div>
</div>