<% title "LLF | Market" %>

<%= render :partial => "banner" %>

<div id="main_wrap">

     <div id="p_index">
        <div id="sleft">
            <div class="swrap">
                <div class="shead">
                    <i class="icon-search"></i> Search Market
                </div>
                <div class="sbody">
                    
                </div>          
            </div>
        </div>
        <div id="pright">
            <div id="prs">

            </div>
        </div>
    <div style="clear:both;"></div>
    </div>

</div>