<% if activity.targetable.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
  <div class="act_media_content">
  	<% if activity.targetable.cover? %>
      	<div id='med_art_act' style="background-image: url(<%= activity.targetable.cover.url(:activity) %>)">
    <% else %>
        <div id='med_art_act' style="background-image: url('/assets/Default Audio 1.png')">
    <% end %>
          <div class="ui360 ui360-vis">
            <%= link_to '', activity.targetable.asset.url %>
          </div>
        </div>
  </div>
<% end %>

<% if activity.targetable.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
	<div class="act_media_content">
		<%= link_to image_tag(activity.targetable.asset.url(:activity), class: ''), activity.targetable.asset.url(:large), class: 'fancybox' %>
	</div>
<% end %>