$("#not_count").html("<span class='not_t'>Notifications (0)</span>");
$("#notifications").html("<%= escape_javascript(render partial: 'notifications/notifications', :collection => @notifications, :as => :notification) %>");