<% if current_member.following?(project) %>

  <div class="">
      <%= link_to('Following'.html_safe, project_follow_path(project.id, current_member.get_follow(project).id), :method => :delete, :remote => true, :class => "btn btn-danger btn-large") %>
   </div>


  <% else %>

    <div class="">
      <%= link_to("Follow", project_follows_path(project.id), :method => :post, :remote => true, :class => "btn btn-default btn-large") %>
    </div>

<% end %>