<% @updates.each do |update| %>

<div id="update_wrap">
	<div id="u_top">
		<div class="u_tit">
			<%= update.title %>
		</div>
		<% if update.member == current_member %>
			<span class="u_del">
				<%= link_to image_tag("Delete 2.png", title: 'Delete'), [@updateable, update], method: :delete, data: { confirm: 'Are you sure?' } %>
			</span>
		<% end %>
		<div style="clear:both;"></div>
	</div>
	<div class="u_time">
		<%= update.created_at.strftime("%b %d %Y") %>
	</div>

	<div id="u_bottom">
		<%= raw Rinku.auto_link(update.content) %>
	</div>
</div>

<% end %>