<div id="banner" style="background-image: url('/assets/Events Banner Image.jpg');background-attachment:fixed;">
	<div class="b_wrap">
		<div class="b_title">EVENTS</div>
		<div class="b_byline">Discover exciting events from authentic people.</div>
		<div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
	</div>
</div>
