<% title '404 Page Not Found' %>

<div id="e_404">

	<div id="error_wrap">

		<div id="er_info">
			<div id="error_txt">
			    <div class="txt_1">404</div>  <div class="txt_2">Looks like the page you're looking for doesn't exist or it's been moved. Maybe searching will help.</div>
			</div>

			<div id="error_img">
			    <%= image_tag 'Stock Badge.png' %>
			</div>
		</div>

	</div>

</div>