<% title 'LLF | Page Not Found' %>

<div id="error_wrap">

	<div id="error_txt">
	    <div class="txt_1">404</div>  <div class="txt_2">Looks like the page you're looking for doesn't exist or it's been moved. Maybe searching will help.</div>
	</div>

	<div id="error_img">
	    <%= image_tag 'Stock Badge.png' %>
	</div>

  	<div class="error_logo">
		<%= image_tag '404 Logo.png' %>
	</div>
</div>

