<div id="accordion3" class="accordion">

      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">How do I upload media?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
                  <p>Uploading media is easy. Either navigate to your media tab on your profile and click 'Add Media' or click the arrow icon located at the top of your profile, from any tab/page of your profile.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">What can I upload?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>We currently support the following file formats: (.jpeg, .png, .mp3). Videos cannot be uploaded directly to the site, however, they can be added by inputting their share URLs (i.e. Youtube and Vimeo). The same applies for adding music from Soundcloud.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">Why won't my media upload?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>If your media isn't uploading, double check to ensure that said media and any tags meet their respective requirements, then try again.</p>

            	<p>In some rare cases mp3 files may meet all of the requirements but still won't upload. To remedy this the file needs to be reconverted to the mp3 format. We recommend <a href="http://media.io/" target="_blank">media.io</a> or <a href="http://audacity.sourceforge.net/" target="_blank">Audacity</a> for this. The new file should now upload properly.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">What are tags?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>Tags can be anything you choose to describe the type of media being uploaded. For example, music, pop art, design, etc. They make discovering your media a whole lot easier.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">Tips & Tricks</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<ul>
            		<li>
            			Tagging your media increases it's visibility dramatically.
            		</li>
            		<li>
            			Adding some cover art to your audio uploads can really make them stand out!
            		</li>
            		<li>
            			Audio doesn't have to be a song. Don't forget about your spoken words, podcasts, poems, etc.
            		</li>
            		<li>
            			If that audio file you want to upload is too large, try using <a href="http://media.io/" target="_blank">media.io</a> or <a href="http://audacity.sourceforge.net/" target="_blank">Audacity</a>; they'll compress the size down for you.
            		</li>
            		<li>
            			You can add links in your captions. Maybe to itunes or your personal website?
            		</li>
            	</ul>
            </div>
      </div>

</div>