<div id="accordion5" class="accordion">

      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">Why should I follow a project?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
                  <p>Following a project is a great way to stay up to date with it. You will automatically be notified of any new updates or media uploads, even after a project ends.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">How do I create a project?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>To create a project go to your projects tab, the projects index, or any project page directly, and click 'Create Project'.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">Why isn't my project listed?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>There's a waiting period before new projects appear in the listings. Check back in a few hours and it will be there.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">What are tags?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>Tags can be anything you choose to describe the type of project you're creating. For example, debut album, indie film, apparel brand, etc. They make discovering your projects a whole lot easier.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">Why won't my media upload?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>If your media isn't uploading, double check to ensure that it meets the requirements, then try again.</p>

            	<p>In some rare cases mp3 files may meet all of the requirements but still won't upload. To remedy this the file needs to be reconverted to the mp3 format. We recommend <a href="http://media.io/" target="_blank">media.io</a> or <a href="http://audacity.sourceforge.net/" target="_blank">Audacity</a> for this. The new file should now upload properly.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">Can I post videos in my updates?</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<p>Yes videos can be embedded in your updates by switching to the html editor<i class="fa fa-code"></i>in the text editor and pasting the videos embed code.</p>

                  <p>In fact you can completely style your updates any way you'd like by using the html editor<i class="fa fa-code"></i>.</p>

                  <p><a href="http://www.w3schools.com/html/">W3 Schools</a> is a great resource for learning the basics of html editing.</p>
            </div>
      </div>
      <div class="accordion-item">
            <div class="accordion-header">
                  <span class="title">Tips & Tricks</span>
                  <i class="fa fa-plus"></i>
            </div>
            <div class="accordion-content">
            	<ul>
                        <li>
                              Favorite and follow projects, they'll be bookmarked on your profile. Following a project will notify you of any new updates or media. 
                        </li>
                        <li>
                              Projects on profile pages are listed by the last time they were updated. 
                        </li>
                        <li>
                              Support local projects! Search for projects in your hometown and show them some support.
                        </li>
            		<li>
            			Include specific tags (i.e. art installation) to increase the chances of people finding your project.
            		</li>
            		<li>
            			Don't delete your old projects! You can turn your collection of old projects into a portfolio. Show people why they should be excited for your upcoming ones.
            		</li>
            		<li>
            			Update! Update! Update! Any chance you get, post updates about the project. Keep your followers in the loop about the progress being made. 
            		</li>
            		<li>
            			Even after a project ends you can continue to post updates and upload new media. Followers of the project will still be notified. 
            		</li>
                        <li>
                              Including an avatar and banner can really make your project page stand out.
                        </li>
                        <li>
                              If you know some html you can fully customize how your event details and updates appear.
                        </li>
            		<li>
                              <a href="http://www.w3schools.com/html/">W3 Schools</a> is a great resource for learning the basics of html editing.
                        </li>
            	</ul>
            </div>
      </div>

</div>