<div id="banner" style="background-image: url('/assets/Page Banner Image.jpg');">
	<div class="b_title">FAQs</div>
	<div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "#", id: 'b_arrow' %></div>
</div>