<% title "LLF | Contests" %>

<div id="main_wrap">

	<div id="contest_header">
		<%= image_tag "Monthly Contest Banner 3.png" %>	
	</div>

<!--/contest_header-->

	<div id="contest_content">
	    <p>Check back on the 1st for our new contest. Until then join the community so you can participate and start winning free stuff.</p>
	    <h3>The Rules</h3>
	    <ul class="contest_rules">
	      <li>All participants must be members of LLF (It&rsquo;s Free and easy to join)</li>
	      <li>Post an update about</li>
	      <li>Follow all updates with #</li>
	      <li>Updates can be a written post, collection of images, or video(s)</li>
	      <li>The contest ends 8/29</li>
	    </ul>
	    
	  <div class="join_footer">
	  	<h3>Want to participate in our Monthly Contests?</h3>
	  		<%= link_to image_tag("Register Button.png", :class => "button"), join_path %>
	  </div>
	    
	</div>
	  
<!--/content_wrap-->

</div>

<!--/main_wrap-->

