<div id="main_wrap">

	<div id="content_wrap"><h1 class="contact_info">Contact Us</h1>
	    <p class="contact_info">236 Mora St.
	    <br />
	    Santa Cruz, CA 95060
	    <br />
	    USA</p>
	    <p class="contact_info">(719) 266-2450</p>
	    <table width="100%" border="0" cellpadding="3" cellspacing="3" style="position: relative;">
	      <tr>
	        <td height="158" class="tv_contact social_links"><a href="http://havenforthebold.tv/" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>WATCH US</p>
	        </a></td>
	        <td class="fb_contact social_links"><a href="https://www.facebook.com/livinglifefearless" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>LIKE US</p>
	        </a></td>
	        <td class="twitter_contact social_links"><a href="https://twitter.com/llfofficial" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>FOLLOW US</p>
	        </a></td>
	        <td class="linkedin_contact social_links"><a href="http://www.linkedin.com/company/2641480" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>FOLLOW US</p>
	        </a></td>
	        <td class="pin_contact social_links"><a href="http://pinterest.com/llfofficial/" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>FOLLOW US</p>
	        </a></td>
	        <td class="youtube_contact social_links"><a href="http://www.youtube.com/thellfofficial" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>SUBSCRIBE</p>
	        </a></td>
	        <td class="soundcloud_contact social_links"><a href="https://soundcloud.com/livinglifefearless" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>FOLLOW US</p>
	        </a></td>
	        <td class="flickr_contact social_links"><a href="http://www.flickr.com/photos/thellfofficial/" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>ADD US</p>
	        </a></td>
	        <td class="instagram_contact social_links"><a href="http://instagram.com/llfofficial/" target="_blank">
	       	<p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>FOLLOW US</p>
	        </a></td>
	        <td class="rss_contact social_links"><a href="http://feeds.feedburner.com/livinglifefearless" target="_blank">
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>&nbsp;</p>
	        <p>SUBSCRIBE</p>
	        </a></td>
	          </tr>
	    </table>

		<hr class="contact" />
	    
		<p>For any comments, questions, concerns, issues, or anything in between; please provide a brief message detailing your inquiry and we will get back to you as soon as possible.</p>
	    
	</div>
	 
	  
	<!--/content_wrap-->

	<div id="registration_wrap">
		<form action="" method="get" class="contact_form" id="contact_form">
	   	  <div class="left_form">
	       	<input name="" type="text" class="forms contact_forms" id="contact_name" tabindex="3" placeholder="Name" />
	        <input name="" type="text" class="forms contact_forms" id="contact_email" tabindex="4" placeholder="Email" />
	            <label for="contact_category" class="contact_labels">Category</label>
	            <select name="" class="forms contact_forms" id="contact_category" tabindex="5">
	              <option selected="selected">General</option>
	              <option>Spotlights</option>
	              <option>Apparel</option>
	              <option>Certified Member</option>
	              <option>Media</option>
	              <option>Copyright Infringement</option>
	              <option>Terms of Service</option>
	              <option>Privacy Policy</option>
	          </select>
	        </div>
	        
	      <div class="right_form">
	        	<label for="contact_message" class="contact_labels">Message</label>
	        	<textarea name="" cols="" rows="6" class="contact_message forms" id="contact_message" tabindex="6"></textarea>
	          <input name="" type="button" class="contact_submit" id="contact_submit" tabindex="7" value="Submit &raquo;" />
	        </div>
	    </form>
	<div style="clear:both;"></div> 
	</div>

<!--/registration_wrap-->

</div>

<!--/main_wrap-->