<% title "FAQ's x Community" %>

<div id="content_wrap">

	<div class="p_h_wrap">
		<span class=""><%= link_to image_tag('/assets/FAQ Icon 2.png'), faqs_path, title: 'FAQ\'s', alt: 'FAQ\'s' %></span>
	</div>

	<div id="accordion" class="accordion">

            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How can I find people or brands?</span>
                        <i class="fa fa-plus"></i>
                  </div>
                  <div class="accordion-content options">
                  	<p>There are a number of ways to discover interesting people and brands:</p>

                  	<ul>
                  		<li>
                  			<strong>Start Searching</strong> Use the search input in the top menu to find people or brands directly by their names, usernames, locations, or pursuits.
                  		</li>
                  		<li>
                  			<strong>Browse Posts</strong> Browsing pages (such as media, community, market, events, etc.) is a great way to discover things that may interest you. Which in turn can lead you to some great people/brands to follow. 
                  		</li>
                  		<li>
                  			<strong>Discover Page</strong> Browsing the discover page directly is another great way to find people/brands. You can also browse the most popular pursuits and locations there. 
                  		</li>
                  		<li>
                  			All of the above.
                  		</li>
                  	</ul>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How do I follow them?</span>
                        <i class="fa fa-plus"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Following another person or brand is as easy as going to their profiles and clicking on the follow button (the silhouette with the plus next to it) or by clicking the follow button on another page they may be listed on, such as the discover page.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How can I communicate with them?</span>
                        <i class="fa fa-plus"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Commenting on a status, media, event, project, listing, etc. notifies the owner that you have left them a comment. You can also start a conversation with up to 14 others by the conversations link located in the top menu or on profile pages.</p>

                        <p>You can also mention another user in a comment or a status. Typing @ followed by their username (i.e. @llfofficial), will send them a notification.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How do I get on the community page?</span>
                        <i class="fa fa-plus"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>The community page is where some of the most popular posts over the last couple months are showcased. To get a post on the community page only requires it has a few favorites.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Tips & Tricks</span>
                        <i class="fa fa-plus"></i>
                  </div>
                  <div class="accordion-content">
                  	<ul>
                  		<li>
                  			Having a complete profile increases your visibility dramatically.
                  		</li>
                  		<li>
                  			Searching pursuits is the best way to find people/brands that share your interests.
                  		</li>
                  		<li>
                  			Check the newsticker on the community page for the latests news!
                  		</li>
                  		<li>
                  			The discover page displays random members of the community.
                  		</li>
                  	</ul>
                  </div>
            </div>

	</div>

</div>