<% title "FAQ's x Media" %>

<div id="content_wrap">

	<div class="p_h_wrap">
		<span class=""><%= link_to image_tag('/assets/FAQ Icon 3.png'), faqs_path, title: 'FAQ\'s', alt: 'FAQ\'s' %></span>
	</div>

	<div id="accordion" class="accordion">

            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Can I upload videos?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>The only media formats we currently support are those of images (.jpeg, .png, .gif) and audio (.mp3). However, YouTube and Vimeo players can be embedded in statuses by inputting their share URLs.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Why won't my media upload?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>If your media isn't uploading, double check to ensure that said media and any tags meet their respective requirements, then try again.</p>

                  	<p>In some rare cases mp3 files may meet all of the requirements but still won't upload. To remedy this the file needs to be reconverted to the mp3 format. We recommend <a href="http://media.io/" target="_blank">media.io</a> or <a href="http://audacity.sourceforge.net/" target="_blank">Audacity</a> for this. The new file should now upload properly.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">What are tags?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Tags can be anything you choose to describe the type of media being uploaded. For example, music, pop art, design, etc. They make discovering your photos or audio a whole lot easier.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How do I post videos?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>YouTube and Vimeo videos can be embedded in your statuses by either copy & pasting, or directly inputting the share URL to the video; which can be found through the share link.</p>

                  	<p>If the link doesn't display as a video, try changing the https:// to simply http://</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Tips & Tricks</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<ul>
                  		<li>
                  			Tagging your media increases it's visibility dramatically.
                  		</li>
                  		<li>
                  			Adding some cover art to your audio uploads can really make them stand out!
                  		</li>
                  		<li>
                  			Audio doesn't have to be a song. Don't forget about your spoken words, poems, etc.
                  		</li>
                  		<li>
                  			If that audio file you want to upload is too large, try using <a href="http://media.io/" target="_blank">media.io</a> or <a href="http://audacity.sourceforge.net/" target="_blank">Audacity</a>; they'll compress the size down for you.
                  		</li>
                  		<li>
                  			You can add links in your captions. Maybe to itunes or your personal website?
                  		</li>
                  	</ul>
                  </div>
            </div>

	</div>

</div>