<% title "FAQ's x Basics" %>

<div id="content_wrap">

	<div class="p_h_wrap">
		<span class=""><%= link_to image_tag('/assets/FAQ Icon 1.png'), faqs_path, title: 'FAQ\'s', alt: 'FAQ\'s' %></span>
	</div>

	<div id="accordion" class="accordion">

            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">What is LLF?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>LLF is a growing community of artists, musicians, and brands. We provide a platform for our users to connect with others with shared interests and pursuits, to create and share amazing content, and to discover incredible media, events, projects, listings, people and brands.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Is it free?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>YES! It is free to use and always will be.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Why should I join the community?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>We give you the platform to show exactly who you are and what you're all about; whether that's through your artwork, photos, poems, spoken words, songs, beats, events, projects, products, or services, we've got you covered.</p>

                  	<p>We've also got the community to back you up. You'll find some of the most creative, amazing, and inspiring people and brands that you'll be able to connect and interact with on a real level. There are so many great profiles to follow and stay up to date with. With new media, events, projects, and listings being created on the regular.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How do I get started?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content ordered">
                  	<ul>
                  		<li>
                  			<strong>Join the Community</strong> To get started click 'Join!' in the top menu and fill out the short form to get to your profile.
                  		</li>
                  		<li>
                  			<strong>Fill Out Your Profile</strong> We suggest uploading an avatar, listing your pursuits, and a couple of your social networks for a strong start. 
                  		</li>
                  		<li>
                  			<strong>Find Someone to Follow</strong> Go to the discover page (compass icon) and start browsing or searching by your favorite pursuits and follow some members. 
                  		</li>
                  		<li>
                  			<strong>Start Creating</strong> Now that your stream is flowing a little (pun intended), start creating some content of your own. Post your first status and upload some media. 
                  		</li>
                  		<li>
                  			<strong>Explore</strong> Now you're ready to get out there and start exploring the various pages. The community page is a great place to start, it shows some of the most popular posts.
                  		</li>
                  	</ul>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How do I edit my profile?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You can edit your profile by clicking the account settings link on your profile (the gear icon) or by clicking on your image in the top menu and going to account settings. </p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">What are pursuits?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Pursuits are the things that you love to do. They are your favorite interests and passions in life. For example, branding, graphic design, music prodiction, etc. They are also the primary way in which people/brands can connect. </p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Why won't my status post?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Check that your attachment isn't greater than 10mb and that it's one of the following formats: .jpeg, .png, .gif</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">How do I close my account?</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>If you wish to close your account you must go to your settings, go to the 'Account Settings' tab, and there is a button at the bottom that reads 'Leave the Community'.</p>

                  	<p>Keep in mind that <strong>this can not be undone</strong> and you will lose all of your data.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Tips & Tricks</span>
                        <i class="icon-plus icon-grey acc_icons"></i>
                  </div>
                  <div class="accordion-content">
                  	<ul>
                  		<li>
                  			Include specific pursuits (i.e. indie folk) to increase your chances of connecting with the right people.
                  		</li>
                  		<li>
                  			You can create multiple accounts, one for you and one for your brand.
                  		</li>
                  		<li>
                  			Favorite posts to bookmark them on your profile.
                  		</li>
                  		<li>
                  			Think before you post! There are no privacy controls.
                  		</li>
                  		<li>
                  			Subscribe to our blog for updates about the community and LLF: <a href="http://beboldbefearlss.co" target="_blank">http://beboldbefearless.co</a>
                  		</li>
                  		<li>
                  			For more general support questions, concerns, or suggestions; <%= link_to "Contact Us", "#contact", :data => {:toggle => "modal"} %>.
                  		</li>
                  	</ul>
                  </div>
            </div>

	</div>

</div>