<div id="main_wrap">

	<div id="content_wrap">
	    
	</div>
  
<!--/content_wrap-->

	<div id="registration_wrap"><h2>Want to be our next Music Spotlight?</h2></p>
		<form action="" method="get" class="contact_form" id="contact_form">
	   	  <div class="left_form">
	       	<input name="" type="text" class="forms contact_forms" id="contact_name" tabindex="3" placeholder="Name" />
	        <input name="" type="text" class="forms contact_forms" id="contact_email" tabindex="4" placeholder="Email" />
	        <input name="" type="text" class="forms contact_forms" id="contact_website" tabindex="5" placeholder="Website" />
	        </div>
	        
	      <div class="right_form">
	        	<label for="contact_message" class="contact_labels">Message</label>
	        	<textarea name="" cols="" rows="5" class="contact_message forms" id="contact_message" tabindex="6"></textarea>
	          <input name="" type="button" class="contact_submit" id="contact_submit" tabindex="7" value="Submit &raquo;" />
	        </div>
	    </form>
	<div style="clear:both;"></div> 
	</div>

<!--/registration_wrap-->

</div>

<!--/main_wrap-->