<% title "THE COLLECTIVV &#215; Privacy Policy".html_safe %>

<div id="banner" style="background-image: url('/assets/Page Banner.jpg');">
      <div id="pg_ban">
            <div class="b_title">PRIVACY</div>
            <div class="b_arrow"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
      </div>
</div>

<div id="content_wrap" class="scroll2">

	<div class="p_h_wrap">
		<div class="p_head">Privacy Policy</div>
		<div class="p_head_tx">
			<p>	This Privacy Policy describes our policies and procedures on the collection, use and disclosure of your information. We receive your information through our various services. When using any of our Services you consent to the collection, transfer, manipulation, storage, disclosure and other uses of your information as described in this Privacy Policy. Irrespective of which country that you reside in or create information from, your information may be used by living.life.fearless in the United States or any other country where LLF operates.</p>

			<p>If you have any questions or comments about this Privacy Policy, please <%= link_to "Contact Us", "#contact", :data => {:toggle => "modal"} %>.</p>
		</div>
	</div>

<!--/header-->

	<div id="accordion" class="accordion in_pgs">

            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Information Collection and Use</span>
                        <i class="fa fa-tasks fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p><strong>Information Collected Upon Registration</strong> When you create or reconfigure an account, you provide some personal information, such as your name, username, password, and email address. Some of this information, for example, your name and username, is listed publicly on our Services, including on your profile page and in search results.</p>

      		        <p><span style="font-weight:bold">Additional Information</span> You may provide us with additional information to make public, such as a short biography, your location, or a picture. If you email us, we may keep your message, email address and contact information to respond to your request. Providing the additional information described in this section is entirely optional.</p>
      		        
      		        <p><span style="font-weight:bold">Posts, Following, and other Public Information</span> Our Services are primarily designed to help you share information with the world. Most of the information you provide to us is information you are asking us to make public. This includes not only the posts you make and the metadata provided with those posts, such as when you posted, but also the people you follow, or the posts you mark as favorites or share and many other bits of information. Your public information is broadly and instantly disseminated.</p>
      		        
      		      	<p><span style="font-weight:bold">Location Information</span> You may choose to note your location in your profile. You can control your location information in your profile settings.</p>
      		        
      		        <p><span style="font-weight:bold">Law and Harm</span> We may preserve or disclose your information if we believe that it is reasonably necessary to comply with a law, regulation or legal request; to protect the safety of any person; to address fraud, security or technical issues; or to protect LLF's rights or property.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Modifying Your Personal Information</span>
                        <i class="fa fa-user fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>If you are a registered user of our Services, we provide you with tools to access or modify the personal information you provided to us and associated with your account.</p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Our Policy Towards Children</span>
                        <i class="fa fa-child fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>Our Services are not directed to people under 13. If you become aware that your child has provided us with personal information without your consent, please <%= link_to "Contact Us", "#contact", :data => {:toggle => "modal"} %>. We do not knowingly collect personal information from children under 13. If we become aware that a child under 13 has provided us with personal information, we take steps to remove such information and terminate the child's account. </p>
                  </div>
            </div>
            <div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Changes To This Policy</span>
                        <i class="fa fa-road fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>We may revise this Privacy Policy from time to time. The most current version of the policy will govern our use of your information and will always be at <%= link_to "http://l-l-f.co/privacy", privacy_path %>. If we make a change to this policy that, in our sole discretion, is material, we will notify you via an update or email to the email associated with your account. By continuing to access or use the Services after those changes become effective, you agree to be bound by the revised Privacy Policy.</p>
                  </div>
            </div>

	</div>

<!--/accordion-->
  
</div>
  
<!--/content_wrap-->
