<% title "LLF x The Rules" %>

<%= render :partial => "info_banner" %>

<div id="content_wrap">

	<div class="p_h_wrap">
		<div class="p_head">The Rules</div>
		<div class="p_head_tx">
			<p>Our goal is to provide a service that allows you to discover and connect with individuals around the world who share in your same pursuits and interests, no matter what they might be; as well as to share your own experiences and content with others. We respect the ownership of the content that users share and each user is responsible for the content he or she provides. Because of these principles, we do not actively monitor user’s content and will not censor user content, except in limited circumstances described below.<p>
		</div>
	</div>

<!--/header-->

	<div class="p_h_wrap">
		<div class="p_head">Content Boundaries and Use of LLF</div>
		<div class="p_head_tx">
			<p>In order to provide our service and the ability to communicate and stay connected with others, there are some limitations on the type of content that can be published. These limitations comply with legal requirements and make LLF a better experience for all. We may need to change these rules from time to time and reserve the right to do so. Please check back here to see the latest.</p>
		</div>
	</div>

<!--/header-->

	<div id="accordion" class="accordion in_pgs">

      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Impersonation</span>
                        <i class="fa fa-user fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not impersonate others through our service in a manner that does or is intended to mislead, confuse, or deceive others.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Privacy</span>
                        <i class="fa fa-user-secret fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not publish or post other people's private and confidential information, such as credit card numbers, street address or Social Security/National Identity numbers, without their express authorization and permission.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Violence and Threats</span>
                        <i class="fa fa-exclamation-circle fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not publish or post direct, specific threats of violence against others.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Copyright</span>
                        <i class="fa fa-asterisk fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>We will respond to clear and complete notices of alleged copyright infringement. Our copyright procedures are set forth in the Terms of Service.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Unlawful Use</span>
                        <i class="fa fa-legal fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not use our service for any unlawful purposes or in furtherance of illegal activities. International users agree to comply with all local laws regarding online conduct and acceptable content.</p>
                  </div>
      	</div>

	</div>

<!--/accordion-->

	<div class="p_h_wrap">
		<div class="p_head">Spam and Abuse</div>
		<div class="p_head_tx">
			<p>LLF strives to protect its users from spam and abuse. Technical abuse and user abuse is not tolerated here, and will result in permanent termination. Any accounts engaging in the activities specified below are subject to suspension or permanent termination.</p>
		</div>
	</div>

<!--/header-->

	<div id="accordion2" class="accordion in_pgs">

      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Serial Accounts</span>
                        <i class="fa fa-users fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not create serial accounts for disruptive or abusive purposes, or with overlapping use cases. Mass account creation may result in suspension of all related accounts. Please note that any violation of the Rules is cause for permanent termination of all accounts.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Username Squatting</span>
                        <i class="fa fa-crosshairs fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not engage in username squatting. Accounts that are inactive for more than 6 months may also be removed without further notice. Some of the factors that we take into account when determining what conduct is considered to be username squatting are:</p>

      		        <ul>
      		            <li>The number of accounts created</li>
      		            <li>Creating accounts for the purpose of preventing others from using those account names</li>
      		            <li>Creating accounts for the purpose of selling those accounts</li>
      		        </ul>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Malware/Phishing</span>
                        <i class="fa fa-exclamation-triangle fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not publish or link to malicious content intended to damage or disrupt another user’s browser or computer or to compromise a user’s privacy.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Spam</span>
                        <i class="fa fa-comments-o fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not use this service for the purpose of spamming anyone. What constitutes “spamming” will evolve as we respond to new tricks and tactics by spammers. Some of the factors that we take into account when determining what conduct is considered to be spamming are:</p>

      		        <ul>
      		            <li>If you have followed a large amount of users in a short amount of time</li>
      		            <li>If you have followed and unfollowed people in a short time period, particularly by automated means (aggressive follower churn)</li>
      		            <li>If you repeatedly follow and unfollow people, whether to build followers or to garner more attention for your profile</li>
      		            <li>If you have a small number of followers compared to the amount of people you are following</li>
      		            <li>If your updates consist mainly of links, and not personal updates</li>
      		            <li>If you post misleading links</li>
      		            <li>If you post duplicate content over multiple accounts or multiple duplicate updates on one account</li>
      		            <li>If you send large numbers of unsolicited messages in an attempt to spam a service or link</li>
      		            <li>If you repeatedly post other users' updates as your own</li>
      		        </ul>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Pornography</span>
                        <i class="fa fa-film fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>You may not use obscene or pornographic material of any sort; including, but not limited to, photos, audio, and video. We understand some light nudity is a part of artistry; therefore, what constitutes pornography is to our discretion.</p>
                  </div>
      	</div>
      	<div class="accordion-item">
                  <div class="accordion-header">
                        <span class="title">Lack of Community Involvement</span>
                        <i class="fa fa-cubes fw"></i>
                  </div>
                  <div class="accordion-content">
                  	<p>As this is a community centric website, we highly encourage all of our users to get involved and help fuel the conversations. We reserve all right to suspend or terminate a user’s account who has shown no involvement over an extensive amount of time, as this will be best for both parties.</p>

      				<p>Any member regularly involved in “nonsensical” updating, also runs the risk of termination or suspension at our own discretion. (There are many other sites for that.)</p>

      				<p>Your account may be suspended for Terms of Service violations if any of the above is true. Accounts created to replace suspended accounts will be permanently terminated.<p>

      				<p>Accounts engaging in any of these behaviors may be investigated for abuse. LLF reserves the right to immediately terminate your account without further notice in the event that, in its judgment, you violate these Rules or the Terms of Service.</p>
                  </div>
      	</div>

	</div>

<!--/accordion-->

</div>

<!--/content_wrap-->