<% title "LLF | Spotlights" %>

<div id="main_wrap">

	<div id="spotlights">
		<div>
			<%= link_to image_tag("Brand Spotlight Beta.png"), brand_spotlights_path %>
		</div>

		<div>
			<%= link_to image_tag("Artist Spotlight Beta.png"), artist_spotlights_path %>
		</div>

		<div>
			<%= link_to image_tag("Music Spotlights Beta.png"), music_spotlights_path %>
		</div>

		<div>
			<%= link_to image_tag("Member Spotlight Beta.png"), member_spotlights_path %>
		</div>
	</div>
  
<!--/content_wrap-->

</div>

<!--/main_wrap-->