<% title "LLF | Spotlights" %>

<div id="main_wrap">

	<div id="content_wrap">
		<div>
	    	<table width="100%" border="0" class="spotlights_table">
	  <tr>
	    <td width="50%">
	    	<%= link_to image_tag("Brand Spotlights.png", :align => "right"), brand_spotlights_path %>
	    </td>
	    <td width="50%">
	    	<%= link_to image_tag("Artist Spotlights.png"), artist_spotlights_path %>
	    </td>
	  </tr>
	  <tr>
	    <td>
	    	<%= link_to image_tag("Music Spotlights.png", :align => "right"), music_spotlights_path %>
	    </td>
	    <td>
	    	<%= link_to image_tag("Member Spotlights.png"), member_spotlights_path %>
	    </td>
	  </tr>
	</table>
	            
	    </div>
	    
	</div>
  
<!--/content_wrap-->

</div>

<!--/main_wrap-->