<% title "LLF | Projects" %>

<%= render :partial => "banner" %>

<div id="main_wrap">

    <div id="p_index">
        <div id="sleft">
            <div class="swrap">
                <div class="shead">
                    Search Tags
                </div>
                <div class="sbody">
                    Lorem Ipsum Dolor Sit Amet, Consectetuer Adipiscing Elit. Aenean Commodo Ligula Eget Dolor. Aenean Massa. Cum Sociis Natoque Penatibus Et Magnis Dis Parturient Montes, Nascetur Ridiculus Mus. Donec Quam Felis, Ultricies Nec, Pellentesque Eu, Pretium Quis, Sem. Nulla Consequat Massa Quis Enim. Donec Pede Justo, Fringilla Vel, Aliquet Nec, Vulputate Eget, Arcu.
                </div>
                <div class="shead">
                    Popular Tags
                </div>
                <div class="sbody">
                    In Enim Justo, Rhoncus Ut, Imperdiet A, Venenatis Vitae, Justo. Nullam Dictum Felis Eu Pede Mollis Pretium. Integer Tincidunt. Cras Dapibus. Vivamus Elementum Semper Nisi. Aenean Vulputate Eleifend Tellus. Aenean Leo Ligula, Porttitor Eu, Consequat Vitae, Eleifend Ac, Enim. Aliquam Lorem Ante, Dapibus In, Viverra Quis, Feugiat A, Tellus. Phasellus Viverra Nulla Ut Metus Varius Laoreet. Quisque Rutrum. Aenean Imperdiet. Etiam Ultricies Nisi Vel Augue.
                </div>
            </div>
        </div>
        <div id="pright">
            <div id="prs">
                <%= render partial: 'projects' %>
            </div>
        </div>
    <div style="clear:both;"></div>
    </div>

</div>