<div id="banner" style="background-image: url('/assets/Community Banner Image.jpeg');">
	<div class="l_out_wrap">
		<div class="b_title">WHAT'S YOUR PASSION?</div>
		<div class="b_byline">We're a community for inspiration, full of people doing and creating amazing things.</div> 
		<div style="margin-top:20px;">
			<span><%= link_to "Learn More", faqs_path, title: "Learn More", alt: "Learn More", :class => "btn btn-success btn-large" %></span> 
			<span><%= link_to "Join!", join_path, title: "Join!", alt: "Join!", :class => "btn btn-info btn-large" %></span>
		</div>
		<div class="b_arrow" style="margin-top:20px;"><%= link_to '<i class="fa fa-angle-down"></i>'.html_safe, "javascript:void(0);", id: 'b_arrow' %></div>
	</div>
</div>
