<% title '404 Page Not Found' %>

<div id="banner" style="background-image: url('/assets/FAQs Main 2.png');">

	<div class="b_wrap">
	    <div class="b_title">404</div>
	    <div class="b_byline">Looks like the page you're looking for doesn't exist or it's been moved. Maybe searching will help.</div>
	</div>

</div>

<div class="" style="padding-bottom:500px;"></div>
