<% title (@update.updateable.name + " &#215; Edit Update").html_safe %>

	<div id="main_wrap">

		<div id="edit_show">

			<div class="t"> 
				Last updated: <%= @update.updated_at.localtime.strftime("%A, %m/%d %I:%M%P") %> 
				&#8226; <%= link_to "Cancel Edit", @update.updateable, title: 'Cancel Edit', alt: 'Cancel Edit' %>
				<% if current_member == @update.member %>
					<span class="dl"><%= link_to image_tag("Delete.png", title: 'Delete'), [@update.updateable, @update], method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></span>
				<% end %>
			</div>

			<%= render 'form' %>

		</div>

<!--/edit_show-->

	</div>

<!--/main_wrap-->