<% if @medium.asset.content_type =~ /^audio\/(mp3|mpeg|mpeg3|mpg|x-mp3|x-mpeg|x-mpeg3|x-mpegaudio|x-mpg)/ %>
	<div class="sh_aud md_aud_wrap">
	  <% if @medium.cover? %>
	    <div id='med_art' style="background-image: url(<%= @medium.cover.url(:large) %>)">
	  <% else %>
	    <div id='med_art' style="background-image: url('/assets/Default-Audio.jpg')">
	  <% end %>
	    <div class="ui360 ui360-vis">
	      <%= link_to '', @medium.asset.url %>
	    </div>
	  </div>
	</div>
<% end %>

<% if @medium.asset.content_type =~ /^image\/(png|gif|jpeg)/ %>
	<%= image_tag(@medium.asset.url, class: 'show_media') %>
<% end %>