<div id="gl_media" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
    <div class="mod_close">
    	<%= link_to '<i class="fa fa-times"></i>'.html_safe, "javascript:void(0);", :data => {:dismiss => "modal"} %>
  	</div>
    <div class="modal-body pi">

        <%= render :partial => "media/gl_form" %>
        
    </div>

</div>