<div id="media" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="sharemodallabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="sharemodallabel">Add New Media</h3>
    </div>
    <div class="modal-body pi">

        <%= render :partial => "media/form" %>
        
    </div>

</div>