<div id="custom-search-input">
    <div class="input-group col-md-12">
        <%= form_tag popular_media_path, :method => :get do %>
            <%= text_field_tag :media, params[:media], placeholder: 'Find the pictures, music, and videos that inspire you.', :autocomplete => :off, input_html: { class: 'form-control input-lg search' } %>
            <span class="input-group-btn">
                <%= button_tag(type: "submit", class: "btn btn-info btn-lg") do %>
                    <i class="fa fa-search"></i>
                <% end %>
            </span>
        <% end %>
    </div>
</div>