<% title "LLF | Media" %>

<div id="main_wrap">

    <% if signed_in? %>
        <div id="add_new">
          <%= link_to 'Add New Media', profile_media_new_path(current_member), :class => "btn btn-warning add_media" %>
        </div>
    <% end %>

    <div id="media_list_wrap">
      <%= render partial: 'media' %>
    </div>

<!--/activity_wrap-->

  <%= will_paginate @medium, class: 'display_none' %>

  <% if @media.total_pages != @media.current_page %>
    <div id="loading"></div>
    <div class="load_more" id="load-arrow">
        <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
    </div>
  <% end %>

</div>

<!--/main_wrap-->