<% title "LLF x Media" %>

<%= render :partial => "banner" %>

<div id="md_wrap">

  <div id="sb_wrap" class="se_wrap">
      <div class="sb_text">
          Start by the most popular tags.</br>
          Or enter something specific below.
      </div>
  </div>

  <div id="media_query_media">
    <div id="media_list_wrap">
      <%= render partial: 'media', :collection => @media, :as => :medium %>
    </div>
  </div>

</div>