<% title "LLF | Media" %>

<div id="main_wrap">

    <% if signed_in? %>
        <div id="add_new">
          <%= link_to 'Add New Media', profile_media_new_path(current_member), :class => "btn btn-warning add_media" %>
        </div>
    <% end %>

    <div id="media_list_wrap">
      <%= render partial: 'media', :collection => @media, :as => :medium %>
    </div>

<!--/activity_wrap-->

  <%= will_paginate @medium, class: 'display_none' %>

  <% if @media.total_pages != @media.current_page %>
    <div id="loading"></div>
    <%= link_to("#", class: "com_show_wrap load_arrow") do %>
      <div class="com_show">
        Show More
      </div>
    <% end %>
  <% end %>

</div>

<!--/main_wrap-->