<% title "LLF | Media" %>

<div id="main_wrap">

	<div id="media_show_wrap">

		<%= image_tag(@medium.asset.url(:large), class: 'thumbnail show_media') %>

		<p class="view_caption">
		  <%= @medium.caption %>
		</p>

	</div>

<!--/media_show_wrap-->

</div>

<!--/main_wrap-->