.activity [class^="icon-"],
[class*=" icon-"] {
	line-height: 0;
	vertical-align: 50%;
}
#activity_stream_wrap {
	position: relative;
	padding: 10px 0 10px 5px;
}
.media_act_cap {
	font-size: .8em;
	font-style: oblique;
	color: #898989;
	padding: 3px 0;
	text-align: center;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
   		-moz-hyphens: auto;
        	hyphens: auto;
    -ms-word-break: break-all;
}
.list_act_wrap {
	width: 314px;
	position: relative;
	margin-bottom: 10px;
}
.list_act_wrap .ad {
	float: right;
}
#status_show .list_act_wrap {
	width: 600px;
}
.act_status_top {
	border-bottom: 5px solid #d4d4d4;
	cursor: default;
}
.act_media_top {
	border-bottom: 5px solid #F7803C;
	cursor: default;
}
.act_media_content {
	text-align: center;
	padding: 8px 0;
	position: relative;
}
.act_av {
	padding: 3px 5px;
	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px; Disabled for FF1+ */
}
.act_name {
	font-weight: bold;
	font-size: 1em;
	position: absolute;
	top: 10px;
}
.act_name a:hover {
	text-decoration: none;
}
.act_attachment {
	text-align: center;
}
.act_status_top .meta {
	float: right;
	padding: 0 5px 0 5px;
	margin-top: 14px;
}
.act_media_top .meta {
	float: right;
	padding: 0 5px 0 5px;
	margin-top: 14px;
}
.act_content {
	padding: 5px;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
   		-moz-hyphens: auto;
        	hyphens: auto;
    -ms-word-break: break-all;
}
.act_delete {
	float: right;
	margin-top: 12px;
	padding: 0 5px 0 0;
	display: none;
}
.act_status_top:hover .act_delete {
	display: inline;
}
.act_media_top:hover .act_delete {
	display: inline;
}

.act_title {
	font-size: .9em;
	margin: .867em 0 0 0;
}
.act_media_top .med a {
	color: #F7803C;
	font-weight: bold;
}
.act_media_top .med a:hover {
	text-decoration: none;
	color: #db5b00;
}
.act_status_top .stat a {
	color: #49afcd;
	font-weight: bold;
}
.act_status_top .stat a:hover {
	text-decoration: none;
	color: #2f96b4;
}
.act_actions {
	width: 18px;
	height: 18px;
	vertical-align: top;
}
#act_actions {
	padding: 5px;
	background:  #efefef;
	margin-top: 5px;
}
#comment_btn .btn {
	color: #aeaeae;
	font-weight: bold;

	padding: 0 3px;
	border: solid 2px #dfdfdf;
	background: #f6f6f6;
	margin-right: 0;
	margin-bottom: 0;
	-webkit-border-radius: 8px; /* Saf3+, Chrome */
	border-radius: 8px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px; Disabled for FF1+ */
}

#comment_act_btn .btn {
	color: #aeaeae;
	padding: 0 3px;
	font-weight: bold;
	font-size: 13px;
	background: #f6f6f6;
	margin-right: 0;
	margin-bottom: 0;
	-webkit-border-radius: 5px; /* Saf3+, Chrome */
	border-radius: 5px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px; Disabled for FF1+ */
}
.act_comment {
	width: 100%;
}
.actions_act {
	padding: 0 5px;
}
.act_count {
	color: #aeaeae;
}
.btn-group .dropdown-menu {
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
	box-shadow: 0 1px 4px rgba(0,0,0,.25);
	border-radius: 7px;
	border: 1px solid #ddd;
	text-align: center;
}
.btn-group .del {
	color: #da4f49;
}
.btn-group .del a {
	color: #da4f49;
}
.actions_act .as {
	width: 100%;
	padding: 3px;
}
.act_project_top {
	border-bottom: 5px solid #da4f49;
	cursor: default;
}
.act_project_top .proj a {
	color: #c72835;
	font-weight: bold;
}
.act_project_top .meta {
	float: right;
	padding: 0 5px 0 5px;
	margin-top: 14px;
}
.act_project_top .proj a:hover {
	text-decoration: none;
	color: #9f0e1b;
}
.act_p_title {
	text-align: center;
	font-size: 1.05em;
	padding: 2px 5px;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
   		-moz-hyphens: auto;
        	hyphens: auto;
    -ms-word-break: break-all;
}
.act_p_title a {
	color: #444444;
	font-weight: bold;
}
.act_p_title a:hover {
	color: #c72835;
	text-decoration: none;
}
.act_p_av {
	text-align: center;
	padding: 8px 0 3px 0;
}
.act_tm {
	text-align: center;
	padding: 8px 8px 8px 8px;
	font-weight: bold;
	font-size: 1.05em;
	color: #444;
}
.act_ts {
	text-align: center;
}
.act_ts a {
	white-space: nowrap;
	color: #fff;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 3px;
	border-radius: 4px;
	line-height: 200%;
}
.act_ts a:hover {
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(147, 39, 201);
    /* RGBa with 0.6 opacity */
    background-color: rgba(147, 39, 201, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	text-decoration: none;
}
.act_event_top {
	border-bottom: 5px solid #1b864d;
	cursor: default;
}
.act_event_top .eve a {
	color: #1b864d;
	font-weight: bold;
}
.act_event_top .meta {
	float: right;
	padding: 0 5px 0 5px;
	margin-top: 14px;
}
.act_event_top .eve a:hover {
	text-decoration: none;
	color: #055b2d;
}
.act_e_title {
	text-align: center;
	font-size: 1.05em;
	padding: 2px 5px;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
   		-moz-hyphens: auto;
        	hyphens: auto;
    -ms-word-break: break-all;
}
.act_e_title a {
	color: #444444;
	font-weight: bold;
}
.act_e_title a:hover {
	color: #146f3f;
	text-decoration: none;
}
.act_e_av {
	text-align: center;
	padding: 8px 0 3px 0;
}