#b_index {
	padding: 20px 0 0 30px;
}
#bi_wrap {
	width: 280px;
	-webkit-box-shadow: 0 1px 5.5px -1.5px rgba(0,0,0,0.52);
	-moz-box-shadow: 0 1px 5.5px -1.5px rgba(0,0,0,0.52);
	box-shadow: 0 1px 5.5px -1.5px rgba(0,0,0,0.52);
	-webkit-border-radius: 6px;
  	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 44px;
}
#bi_top {
	padding: 12px 18px 12px 18px;
	background-color: #eaecee;
	-webkit-box-shadow: 0 1px 4px #ccc;
	-moz-box-shadow: 0 1px 4px #ccc;
	box-shadow: 0 1px 4px #ccc;
}
#bi_bottom {
	padding: 16px 18px 16px 18px;
}
#bi_bottom .ims {
	-webkit-border-radius: 4px;
  	-moz-border-radius: 4px;
	border-radius: 4px;
}
#bi_bottom .ims_wrap {
	float: left;
}
#bi_bottom .b_descr {
	height: 113px;
	overflow: hidden;
	padding-left: 5px;
	font-size: 1.033em;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	-ms-word-break: break-all;
}
.bi_tit {
	text-align: center;
}
.bi_tit a {
	color: #444444;
	font-weight: bold;
	font-size: 1.05em;
}
.bi_tit a:hover {
	text-decoration: none;
	color: #737373;
}
.bi_mk {
	text-align: center;
}
.bi_mk a {
	font-size: .8em;
	color: #fff;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 3px;
	border-radius: 4px;
	line-height: 200%;
	white-space: nowrap;
}
.bi_mk a:hover {
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(147, 39, 201);
    /* RGBa with 0.6 opacity */
    background-color: rgba(147, 39, 201, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	text-decoration: none;
}
#bp_h_wrap {
	margin: 20px 0;
}
#bp_h_wrap .none_message {
	padding: 50px 0;
}
.bl_wrap {
	text-align: center;
}
#bp_h_wrap .label {
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	width: 150px;
  	margin: 0 auto;
	background-color: rgb(34, 34, 34);
	background-color: rgba(34, 34, 34, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
	-background: transparent;
}
#bp_h_wrap .label:hover {
	background-color: rgba(34, 34, 34, 0.7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
	-background: transparent;
}
#bp_h_wrap .label a {
	color: #fff;
}
#bp_h_wrap .label a:hover {
	text-decoration: none;
}
#br_nav {
	margin-top: 30px;
}
#br_nav .nav-tabs {
	border-bottom: none;
	text-align: center;
}
#br_nav .nav-tabs li {
	font-size: 1.75em;
	float: none;
	display: inline-block;
}
#br_nav .nav-tabs > li > a {
	padding: 20px;
	line-height: 20px;
	border: none;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #f4f4f4;
	color: #898989;
	margin-right: 15px;
}
#br_nav .nav-tabs > li > a:hover {
	color: #fff;
	background-color: #1b85a6;
}
#br_nav .nav-tabs > .active > a {
	background-color: #1b85a6;
	color: #fff;
}
#p_form_wrap .b_ct_nam {
	color: #444;
	font-size: 1.5em;
}
.bs_av {
	display: inline-block;
	background-color: #fff;
	border-radius: 10px;
	padding: 8px;
	-moz-box-shadow: 0 0 6px #ccc;
	-webkit-box-shadow: 0 0 6px #ccc;
	box-shadow: 0 0 6px #ccc;
	
}
#bb {
	width: 72%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#b_info {
	text-align: center;
	padding: 8px 0;
}
#b_info .bn {
	color: #444;
	font-weight: bold;
	font-size: 1.3em;
}
#b_info .bn_wrap {
	padding: 0 0 8px 0;
}
#b_info .bd {
	font-size: 1.1em;
	padding: 0 20%;
}
#b_info .ims {
	width: 30px;
	height: 30px;
}
#b_info .btn-group {
	display: inline;
	vertical-align: baseline;
}
#b_info .btn-group .del {
	border-bottom: none;
	border-top: 1px solid #ddd;
}
#b_info .b_mk{
	padding: 0 0 10px 0;
}
#b_info .b_mks a {
	color: #fff;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 5px;
	border-radius: 6px;
	margin-bottom: 6px;
}
#b_info .b_mks a:hover {
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(147, 39, 201);
    /* RGBa with 0.6 opacity */
    background-color: rgba(147, 39, 201, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	text-decoration: none;
}
#edit_wrap .edit_av_f {
margin: 0 0 30px 170px;
}
#sb_wrap {
	text-align: center;
	padding-top: 40px;
}
.btags {
	padding-top: 10px;
}
.btag a {
	color: #fff;
	padding: 3px 5px;
	border-radius: 4px;
	line-height: 200%;
	white-space: nowrap;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
}
.btag a:hover {
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(147, 39, 201);
    /* RGBa with 0.6 opacity */
    background-color: rgba(147, 39, 201, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	text-decoration: none;
}