.btn {
  font-weight: normal;
  margin: 0;
}
.btn-grey {
  color: #898989;
  background-color: #eaeaea;
  border: 2px solid #eaeaea;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.btn-grey.disabled,
.btn-grey[disabled] {
  color: #898989;
  background-color: #eaeaea;
  border-color: #eaeaea;
  *background-color: #eaeaea;
  text-shadow: none;
  opacity: .85;
}
.btn-grey:active,
.btn-grey.active {
  background-color: #eaeaea \9;
  opacity: .85;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #006dcc;
  *background-color: #006dcc;
  opacity: .85;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #006dcc \9;
  opacity: .85;
}
.btn-black {
  color: #131313;
  background-color: transparent;
  border: 2px solid #131313;
  border-radius: 2px;
}
.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.btn-black.disabled,
.btn-black[disabled] {
  color: #ffffff;
  background-color: #131313;
  border-color: #131313;
  *background-color: #131313;
  text-shadow: none;
}
.btn-black:active,
.btn-black.active {
  background-color: #131313 \9;
  opacity: .85;
}
.btn-green {
  color: #ffffff;
  background-color: #53ad53;
  border: 2px solid #53ad53;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  color: #ffffff;
  background-color: #53ad53;
  border-color: #53ad53;
  *background-color: #53ad53;
  text-shadow: none;
  opacity: .85;
}
.btn-green:active,
.btn-green.active {
  background-color: #53ad53 \9;
  opacity: .85;
}
.btn-green-ev {
  color: #ffffff;
  background-color: #219e5c;
  border: 2px solid #219e5c;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-green-ev:hover,
.btn-green-ev:focus,
.btn-green-ev:active,
.btn-green-ev.active,
.btn-green-ev.disabled,
.btn-green-ev[disabled] {
  color: #ffffff;
  background-color: #219e5c;
  border-color: #219e5c;
  *background-color: #219e5c;
  text-shadow: none;
  opacity: .85;
}
.btn-green-ev:active,
.btn-green-ev.active {
  background-color: #219e5c \9;
  opacity: .85;
}
.btn-orange {
  color: #ffffff;
  background-color: #F7803C;
  border: 2px solid #F7803C;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled] {
  color: #ffffff;
  background-color: #F7803C;
  border-color: #F7803C;
  *background-color: #F7803C;
  text-shadow: none;
  opacity: .85;
}
.btn-orange:active,
.btn-orange.active {
  background-color: #F7803C \9;
  opacity: .85;
}
.btn-media {
  color: #ffffff;
  background-color: #b6a352;
  border: 2px solid #b6a352;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-media:hover,
.btn-media:focus,
.btn-media:active,
.btn-media.active,
.btn-media.disabled,
.btn-media[disabled] {
  color: #ffffff;
  background-color: #b6a352;
  border-color: #b6a352;
  *background-color: #b6a352;
  text-shadow: none;
  opacity: .85;
}
.btn-media:active,
.btn-media.active {
  background-color: #b6a352 \9;
  opacity: .85;
}
.btn-blue {
  color: #ffffff;
  background-color: #1b85a6;
  border: 2px solid #1b85a6;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #ffffff;
  background-color: #1b85a6;
  border-color: #1b85a6;
  *background-color: #1b85a6;
  text-shadow: none;
  opacity: .85;
}
.btn-blue:active,
.btn-blue.active {
  background-color: #1b85a6 \9;
  opacity: .85;
}
.btn-baby-blue {
  color: #ffffff;
  background-color: #49afcd;
  border: 2px solid #49afcd;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-baby-blue:hover,
.btn-baby-blue:focus,
.btn-baby-blue:active,
.btn-baby-blue.active,
.btn-baby-blue.disabled,
.btn-baby-blue[disabled] {
  color: #ffffff;
  background-color: #49afcd;
  border-color: #49afcd;
  *background-color: #49afcd;
  text-shadow: none;
  opacity: .85;
}
.btn-baby-blue:active,
.btn-baby-blue.active {
  background-color: #49afcd \9;
  opacity: .85;
}
.btn-red {
  color: #ffffff;
  background-color: #da4f49;
  border: 2px solid #da4f49;
  border-radius: 2px;
  text-shadow: none;
  font-weight: bold;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  color: #ffffff;
  background-color: #da4f49;
  border-color: #da4f49;
  *background-color: #da4f49;
  text-shadow: none;
  opacity: .85;
}
.btn-red:active,
.btn-red.active {
  background-color: #da4f49 \9;
  opacity: .85;
}
.btn-cancel {
  color: #616161;
  background-color: transparent;
  border: none;
  border-radius: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
}
.btn-cancel:hover,
.btn-cancel:focus,
.btn-cancel:active,
.btn-cancel.active,
.btn-cancel.disabled,
.btn-cancel[disabled] {
  color: #131313;
  background-color: transparent;
  border-color: none;
  *background-color: transparent;
  text-shadow: none;
}
.btn-cancel:active,
.btn-cancel.active {
  background-color: transparent;
  opacity: .85;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #F7803C;
  border-color: #F7803C;
  border-radius: 5px;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #F7803C;
  border-color: #F7803C;
  *background-color: #F7803C;
  opacity: .85;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #F7803C \9;
  opacity: .85;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  border-color: #da4f49;
  *background-color: #da4f49;
  border-radius: 5px;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #da4f49;
  *background-color: #da4f49;
  opacity: .85;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #da4f49 \9;
  opacity: .85;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  border-color: #5bb75b;
  *background-color: #51a351;
  border-radius: 5px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #5bb75b;
  *background-color: #5bb75b;
  opacity: .85;
}
.btn-success:active,
.btn-success.active {
  background-color: #5bb75b \9;
  opacity: .85;
}
.btn-event {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #219e5c;
  border-color: #219e5c;
  *background-color: #219e5c;
  border-radius: 5px;
}
.btn-event:hover,
.btn-event:focus,
.btn-event:active,
.btn-event.active,
.btn-event.disabled,
.btn-event[disabled] {
  color: #ffffff;
  background-color: #219e5c;
  *background-color: #219e5c;
  border-color: #219e5c;
  opacity: .85;
}
.btn-event:active,
.btn-event.active {
  background-color: #219e5c \9;
  opacity: .85;
}
.btn-event:active:focus,
.btn-event.active:focus {
  background-color: #219e5c \9;
  opacity: .85;
}
.btn-market {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1b85a6;
  border-color: #1b85a6;
  *background-color: #1b85a6;
  border-radius: 5px;
}
.btn-market:hover,
.btn-market:focus,
.btn-market:active,
.btn-market.active,
.btn-market.disabled,
.btn-market[disabled] {
  color: #ffffff;
  background-color: #1b85a6;
  *background-color: #1b85a6;
  opacity: .85;
}
.btn-market:active,
.btn-market.active {
  background-color: #1b85a6 \9;
  opacity: .85;
}
.btn-buy {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e45242;
  border-color: #e45242;
  *background-color: #e45242;
  border-radius: 5px;
  font-weight: bold;
}
.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active,
.btn-buy.active,
.btn-buy.disabled,
.btn-buy[disabled] {
  color: #ffffff;
  background-color: #e45242;
  *background-color: #e45242;
  opacity: .85;
}
.btn-buy:active,
.btn-buy.active {
  background-color: #e45242 \9;
  opacity: .85;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  border: 1px solid #49afcd;
  border-radius: 5px;
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-follow {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9444cc;
  border-color: #9444cc;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #49afcd;
  *background-color: #49afcd;
  opacity: .85;
}
.btn-follow:hover,
.btn-follow:focus,
.btn-follow:active,
.btn-follow.active,
.btn-follow.disabled,
.btn-follow[disabled] {
  color: #ffffff;
  background-color: #9444cc;
  *background-color: #9444cc;
  border-color: #8930c7;
  opacity: .85;
}
.btn-info:active,
.btn-info.active {
  background-color: #49afcd \9;
  opacity: .85;
}
.btn-follow:active,
.btn-follow.active {
  background-color: #9444cc \9;
  opacity: .85;
}

.btn:focus,
.btn:hover,
.btn.active:hover, 
.btn.active:focus, 
.btn.active:active, 
.btn.active.active, 
.btn.active.disabled, 
.btn.active[disabled] {
    outline: none;
}

.modal.fade.in .form-actions {
  padding: 19px 95px 0 0;
  margin: 0;
  background-color: transparent;
  border-top: none;
}