.btn {
  font-weight: bold;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #006dcc;
  *background-color: #006dcc;
  opacity: .85;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #006dcc \9;
  opacity: .85;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #F7803C;
  border-color: #F7803C;
  border-radius: 5px;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #F7803C;
  border-color: #F7803C;
  *background-color: #F7803C;
  opacity: .85;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #F7803C \9;
  opacity: .85;
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  border-color: #da4f49;
  *background-color: #da4f49;
  border-radius: 5px;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #da4f49;
  *background-color: #da4f49;
  opacity: .85;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #da4f49 \9;
  opacity: .85;
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  border-color: #5bb75b;
  *background-color: #51a351;
  border-radius: 5px;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #5bb75b;
  *background-color: #5bb75b;
  opacity: .85;
}
.btn-success:active,
.btn-success.active {
  background-color: #5bb75b \9;
  opacity: .85;
}
.btn-event {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #219e5c;
  border-color: #219e5c;
  *background-color: #219e5c;
  border-radius: 5px;
}
.btn-event:hover,
.btn-event:focus,
.btn-event:active,
.btn-event.active,
.btn-event.disabled,
.btn-event[disabled] {
  color: #ffffff;
  background-color: #219e5c;
  *background-color: #219e5c;
  border-color: #1b864d;
  opacity: .85;
}
.btn-event:active,
.btn-event.active {
  background-color: #219e5c \9;
  opacity: .85;
}
.btn-market {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #1b85a6;
  border-color: #1b85a6;
  *background-color: #1b85a6;
  border-radius: 5px;
}
.btn-market:hover,
.btn-market:focus,
.btn-market:active,
.btn-market.active,
.btn-market.disabled,
.btn-market[disabled] {
  color: #ffffff;
  background-color: #1b85a6;
  *background-color: #1b85a6;
  opacity: .85;
}
.btn-market:active,
.btn-market.active {
  background-color: #1b85a6 \9;
  opacity: .85;
}
.btn-buy {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #e45242;
  border-color: #e45242;
  *background-color: #e45242;
  border-radius: 5px;
}
.btn-buy:hover,
.btn-buy:focus,
.btn-buy:active,
.btn-buy.active,
.btn-buy.disabled,
.btn-buy[disabled] {
  color: #ffffff;
  background-color: #e45242;
  *background-color: #e45242;
  opacity: .85;
}
.btn-buy:active,
.btn-buy.active {
  background-color: #e45242 \9;
  opacity: .85;
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  border: 1px solid #49afcd;
  border-radius: 5px;
  *background-color: #2f96b4;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-follow {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #9444cc;
  border-color: #9444cc;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #49afcd;
  *background-color: #49afcd;
  opacity: .85;
}
.btn-follow:hover,
.btn-follow:focus,
.btn-follow:active,
.btn-follow.active,
.btn-follow.disabled,
.btn-follow[disabled] {
  color: #ffffff;
  background-color: #9444cc;
  *background-color: #9444cc;
  border-color: #8930c7;
  opacity: .85;
}
.btn-info:active,
.btn-info.active {
  background-color: #49afcd \9;
  opacity: .85;
}
.btn-follow:active,
.btn-follow.active {
  background-color: #9444cc \9;
  opacity: .85;
}

.btn:focus,
.btn:hover,
.btn.active:hover, 
.btn.active:focus, 
.btn.active:active, 
.btn.active.active, 
.btn.active.disabled, 
.btn.active[disabled] {
    outline: none;
}