#avatar .custom-file-upload {
    margin: 0 0 30px 180px;
}
.custom-file-upload {
    display: inline-block;
    width: auto;
}
#media_form .custom-file-upload {
    margin-top: 4px;
}
#upload_form .custom-file-upload {
    margin-top: 4px;
}
.actions *, *:before, *:after {
    margin-right: 0;
}
.custom-file-upload input[type="file"] {
    /*opacity: 0;
    filter: alpha(opacity=0);*/
    position: absolute;
    left: -9999px;
}
.custom-file-upload .fa-arrow-up {
  font-size: .85em;
  vertical-align: top;
  margin-left: -8px;
  margin-right: -4px;
}
.custom-file-upload .fa-check {
  font-size: .9em;
  vertical-align: top;
  margin-left: -8px;
  margin-right: -4px;
}
.cfu_label {
  padding: 6px 12px;
  display: inline-block;
  background: #f06048;
  cursor: pointer;
  color: #fff;
  /* font-size: 15px; */
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  opacity: .85;
}
.cfu_label:hover {
    opacity: 1;
}
#status_form .cfu_label {
    padding: 7px 12px;
}
#p_form_wrap .cfu_label {
    padding: 8px 12px;
    margin-right: 20px;
}
#p_form_wrap .cfu_label.ed {
    margin: 0 0 15px 170px;
    display: block;
}
#p_form_wrap .cfu_label.ed_l {
    margin: 0 0 15px 0px;
}
#p_form_wrap .cfu_label.ed {
    margin: 0 0 15px 170px;
    display: block;
}
#p_form_wrap .act_media_content {
    padding: 15px 0;
}
#p_form_wrap .e_fi {
    padding: 15px 0;
}
#filename {
  padding: 5px 6px;
  float: left;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: inset 1px 1px 4px #e4e4e4;
  -moz-box-shadow: inset 1px 1px 4px #e4e4e4;
  box-shadow: inset 1px 1px 4px #e4e4e4;
  background: #fff;
}