// Place all the styles related to the follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.dropdown-menu {
	left: 12em;
}
#follow_list_wrap {
	color: #333;
	padding: 5px;
	position: relative;
}
#follow_item_wrap {	
	width: 160px;
	overflow: hidden;
	text-align: center;
	margin-bottom: 7px;
}
#follow_item_wrap .name {
	color: #4a4a4a;
	font-size: 1.4em;
	padding: 4px 0 0 0;
}
#follow_item_wrap .username {
	color: #942fc6;
	font-size: 1.1em;
	padding: 0 0 7px 0;
}
#follow_item_wrap .pursuits {
	font-size: .85em;
}
#follow_item_wrap .pursuits a {
	color: #333;
}
#follow_item_wrap .pursuits a:hover {
	text-decoration: none;
	color: #6d6d6d;
}
#follow_item_wrap .location {
	font-size: .85em;
}
#follow_item_wrap .location a {
	color: #1a90b6;
}
#follow_item_wrap .location a:hover {
	text-decoration: none;
	color: #6d6d6d;
}
#follow_item_wrap .btn {
	font-size: 13px;
	padding: 2px 6px;
}
#follow_item_wrap .button {
	padding: 5px 0;
}
#follow_item_wrap img {
	-webkit-border-radius: 80px; /* Saf3+, Chrome */
	border-radius: 80px; /* Opera 10.5, IE 9 */
	/*-moz-border-radius: 30px; Disabled for FF1+ */
}
#follow_item_wrap .avatar {
	padding: 5px;
}
#follow_title {
	padding: 10px 0;
	text-align: center;
}
#follow_title .label {
	color: #fff;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	width: 150px;
  	margin: 0 auto;
  	opacity: .8;
  	cursor: default;
  	background-color: rgb(34, 34, 34);
	background-color: rgba(34, 34, 34, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
	-background: transparent;
}