#mk_wrap {
	position: relative;
	margin: 20px 0 150px 0;
}
#mk_head {
	width: 100%;
	padding: 10px 3%;
}
#mk_head .h {
	font-size: 3em;
}
#mk_head .ap a {
	color: #812aac;
}
#mk_head .ap a:hover {
	text-decoration: none;
}
#mk_head .pl {
	color: #EB2E35;
}
#mk_head .mk a {
	color: #1b85a6;
}
#mk_head .mk a {
	text-decoration: none;
}
#mk_head .v_a {
	float: right;
	font-size: 1.25em;
	padding: 28px 20px 0 0;
}
#mk_head .v_a a:hover {
	text-decoration: none;
}
#mk_head .ap_l a {
	color: #812aac;
}
#mk_head .mk_l a {
	color: #1b85a6;
}
#listings {
	background-position: 4px 38%;
	background-repeat: no-repeat;
    text-align: center;
}