#mk_wrap {
	padding: 40px 0 40px 0;
}
.mk_head a {
	font-size: 5.2em;
	text-shadow: 2px 1px 0px #fff, 7px 6px 0px rgba(0,0,0,0.15);
}
.mk_head {
	padding: 10px 15px;
}
#ap_l_head a {
	color: #812aac;
}
#ap_l_head a:hover {
	color: #444;
	text-decoration: none;
}
#br_head a:hover {
	color: #E63B42;
	text-decoration: none;
}
#mkl_head a {
	color: #1b85a6;
}
#mkl_head a:hover {
	color: #444;
	text-decoration: none;
}
.mk_all {
	float: right;
	margin-top: 25px;
}
.mk_all a {
	color: #444;
	font-weight: bold;
	font-size: 1.5em;
}