#mk_wrap {
	position: relative;
	margin: 20px 0 350px 0;
}
#mk_head {
	width: 100%;
	padding: 10px 3%;
}
.mk_2 {
	margin-top: 100px;
}
#mk_head .h {
	font-size: 3em;
}
#mk_head .ap a {
	color: #812aac;
}
#mk_head .ap a:hover {
	text-decoration: none;
}
#mk_head .h a {
	color: #898989;
}
#mk_head a:hover {
	text-decoration: none;
}
#mk_head .v_a {
	float: right;
	font-size: 1em;
	font-weight: bold;
	padding: 14px 20px 0 0;
}
#mk_head .v_a a {
	color: #444;
	border: 2px solid #444;
	border-radius: 2px;
    padding: 7px 10px;
}
#mk_head .v_a a:hover {
	text-decoration: none;
	color: #fff;
	background: #444;
}
#mk_head .ap_l a {
	color: #812aac;
}
#listings {
	background-position: 4px 38%;
	background-repeat: no-repeat;
}
.q_bc.mk1 #custom-search-input {
    margin-left: 300px;
}
.q_bc.mk2 #custom-search-input {
    margin-left: 450px;
}
.q_bc.mk3 #custom-search-input {
    margin-left: 370px;
}
.q_bc.mk4 #custom-search-input {
    margin-left: 405px;
}
.q_bc.mk5 #custom-search-input {
    margin-left: 485px;
}
.mk1 .l_o #custom-search-input {
	margin-left: 150px;
}
.mk2 .l_o #custom-search-input {
	margin-left: 305px;
}
.mk3 .l_o #custom-search-input {
	margin-left: 225px;
}
.mk4 .l_o #custom-search-input {
	margin-left: 260px;
}
.mk5 .l_o #custom-search-input {
	margin-left: 340px;
}