#media_list_wrap {
	padding: 10px 0 60px 5px;
	position: relative;
}
#media_list_wrap .dropdown-menu {
	left: -50px;
}
#add_new {
	padding: 10px 5px 0 5px;
}
.cap {
	padding: 4px 0 6px 0;	
}
.cap_label {
	font-size: 1.2em;
	font-weight: bold;
	color: #7b7b7b;
}
.cap_opt {
	font-size: .8em;
	font-weight: none;
}

.media_cap {
	font-size: .8em;
	font-style: oblique;
	color: #898989;
	padding: 3px 9px;
	text-align: center;
}

.view_caption {
	font-size: 1em;
	font-style: oblique;
	color: #898989;
	margin-top: 6px;
}

.add_media {
	margin-bottom: 9px;
}

#media_content_wrap {
	background-image: url('/assets/Container BG.png');
	border: 1px solid #dce1e6;
	padding: 40px 60px;
	color: #333;
	margin-top: 25px;
	border-radius: 20px;
}

#media_show_wrap {
	padding: 40px 60px;
	color: #333;
	text-align: center;
}
.media_comment_wrap {
	padding: 0 60px 40px 60px;
}
#media_show_wrap img {
	margin-left: auto;
	margin-right: auto;
}

.media {
	width: 188px;
	position: relative;
	margin-bottom: 10px;
}

.delete_label {
	position: absolute;
	top: 13px;
	right: 5px;
	display: none;
}

.list_act_wrap:hover .delete_label {
	display: inline;
}

#cap_count {
	color: #8930c7;
	font-weight: bold;
	font-size: 1.3em;
}
.cap_remain {
	font-weight: bold;
	font-size: 1.1em;
}
#media_list_wrap .list_act_wrap {
	width: 188px;
	position: relative;
	margin-bottom: 16px;
}
#media_list_wrap .act_name {
	top: 12px;
}
.med_top {
	margin-top: 30px;
}
#med_art {
	width: 188px;
	height: 188px;
	background-size: cover;
}
#med_art_act {
	width: 195px;
	height: 195px;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}
.med_instructions {
	font-size: .9em;
	font-style: oblique;
	color: #898989;
	margin-bottom: 10px;
}
.sh_aud {
	padding: 8px 40%;
}
.media_btns {
	text-align: center;
}
.media_btns .ims {
	width: 30px;
	height: 30px;
}
.m_show_wrap .modal.fade.in {
top: 25%;
}
.m_show_wrap .comment_del img {
	width: 14px;
	height: 14px;
	margin-top: 2px;
}
.m_show_wrap .act_delete img {
	width: 14px;
	height: 14px;
	margin-top: 1px;
}