#media_list_wrap {
	color: #333;
	padding: 5px;
	position: relative;
}
#add_new {
	padding: 10px 5px 0 5px;
}
.cap {
	padding: 4px 0 6px 0;	
}
.cap_label {
	font-size: 1.2em;
	font-weight: bold;
	color: #7b7b7b;
}
.cap_opt {
	font-size: .8em;
	font-weight: none;
}

.media_cap {
	font-size: .8em;
	font-style: oblique;
	color: #898989;
	padding: 3px 9px;
	text-align: center;
}

.view_caption {
	font-size: 1em;
	font-style: oblique;
	color: #898989;
	margin-top: 6px;
}

.add_media {
	margin-bottom: 9px;
}

#media_content_wrap {
	background-image: url('/assets/Container BG.png');
	border-color:#EFEFEF;
	border-style:solid;
	border-width:0 2px 2px 2px;	
	padding: 40px 60px;
	color: #333;
}

#media_show_wrap {
	padding: 40px 60px;
	color: #333;
	text-align: center;
}

#media_show_wrap img {
	margin-left: auto;
	margin-right: auto;
}

.media {
	display: block;
	padding: 4px;
	line-height: 20px;
	width: 188px;
	margin-bottom: 5px;
	position: relative;
}

.delete_label {
	position: absolute;
	top: 7px;
	right: 7px;
	display: none;
}

.media:hover .delete_label {
	display: inline;
}

#cap_count {
	color: #8930c7;
	font-weight: bold;
	font-size: 1.3em;
}
.cap_remain {
	font-weight: bold;
	font-size: 1.1em;
}