.notif {
	top: 52px;
	left: -300px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
	box-shadow: 0 1px 4px rgba(0,0,0,.25);
	border-radius: 7px;
	border: none;
	width: 400px;
}
.notif .notices {
	padding: 10px;
	max-height: 400px;
	overflow: auto;
}
.notif .see_all {
	font-weight: bold;
	color: #942fc6;
	border-top: 1px solid #dddddd;
	padding: 7px 0;
}
.notif li {
	width: 100%;
	text-align: center;
}
.member {
	top: 52px;
	left: -100px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
	box-shadow: 0 1px 4px rgba(0,0,0,.25);
	border-radius: 7px;
	border: none;
}
.member li {
	width: 100%;
}
.member li a {
	padding: 1px 20px;
}
.member .menu_name {
	font-weight: bold;
	color: #942fc6;
	font-size: 1.2em;
}
.member .sign_out {
	border-top: 1px solid #dddddd;
	padding: 7px 20px;
}
.member .top_menu {
	padding: 7px 0;
	border-bottom: 1px solid #dddddd;
}
.member .a {
	border-bottom: 1px solid #dddddd;
}
.member .view_profile {
	color: #898989;
	font-size: 12px;
	padding: 0 20px;
}
.member .top_links {
	font-size: .9em;
	font-weight: bold;
}
.member .bottom_links {
	color: #898989;
	font-size: .9em;
	font-weight: bold;
}
.member .grey_bottom {
	background-color: #efefef;
}
.mem_drop .dropdown-menu:before {
   position: absolute;
   top: -7px;
   left: 109px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   content: '';
 }
.mem_drop .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 110px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }
.not_drop .dropdown-menu:before {
   position: absolute;
   top: -7px;
   left: 306px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   content: '';
 }
.not_drop .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 307px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}
.dropdown-menu > li > a:hover > [class^="icon-grey"],
.dropdown-menu > li > a:hover > [class*=" icon-grey"],
.dropdown-menu > .active > a > [class^="icon-grey"],
.dropdown-menu > .active > a > [class*=" icon-grey"] {
	background-image: url('/assets/glyphicons-halflings-white.png') !important;
}
.nav_search {
	padding: 10px 0;
}
#member_actions .dropdown-menu {
	top: 38px;
	left: 27px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	border: none;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
	box-shadow: 0 1px 4px rgba(0,0,0,.25);
}
#member_actions .block a {
	font-weight: bold;
}
#member_actions .dropdown-menu:before {
   position: absolute;
   top: -7px;
   left: 168px;
   display: inline-block;
   border-right: 7px solid transparent;
   border-bottom: 7px solid #CCC;
   border-left: 7px solid transparent;
   border-bottom-color: rgba(0, 0, 0, 0.2);
   content: '';
 }
#member_actions .dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 169px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}
#nav_bar .query_nav {
	float: left;
	text-decoration: none;
	display: none;
}
#nav_bar .query_nav .dropdown-menu {
	top: 40px;
	left: 40px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	border: none;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.25);
	box-shadow: 0 1px 4px rgba(0,0,0,.25);
}
#nav_bar .query_nav .dropdown-menu li a {
	font-weight: bold;
	color: #898989;
}
#nav_bar .query_nav .dropdown-menu li a:hover {
	color: #fff;
}
#nav_bar .query_nav .dropdown-menu:before {
	position: absolute;
	top: -7px;
	left: 24px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #CCC;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}
#nav_bar .query_nav .dropdown-menu:before {
    position: absolute;
    top: -6px;
    left: 25px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}
#nav_bar .query_menu {
	margin: 13px 0;
}
#nav_bar .nav_icon_menu {
	width: 26px;
	height: 26px;
}
#m_alert {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 16px;
	right: 0;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 1px 4px rgba(235, 223, 223, .25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(235, 223, 223, 0.6);
	border: 1px solid rgb(235, 223, 223);
}
.m_alert1 {
	background-color: #4295E2;
}
.m_alert2 {
	background-color: #37DB31;
}
.m_alert3 {
	background-color: #FF8800;
}
.m_alert4 {
	background-color: #E24248;
}
#n_alert {
	width: 14px;
	height: 14px;
	position: absolute;
	top: 17px;
	right: 10px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
	-webkit-box-shadow: 0 1px 4px rgba(235, 223, 223, .25);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(235, 223, 223, 0.6);
	border: 1px solid rgb(235, 223, 223);
}
.n_alert1 {
	background-color: #4295E2;
}
.n_alert2 {
	background-color: #37DB31;
}
.n_alert3 {
	background-color: #FF8800;
}
.n_alert4 {
	background-color: #E24248;
}
.alert_wrap {
	position: relative;
}