#stat_count {
	color: #898989;
	font-size: 1.7em;
	font-weight: bold;
	float: right;
	padding: .2em .3em 0 0;
}
#follow_list_wrap {
	color: #333;
	padding: 5px;
	position: relative;
	border-top: 2px solid #efefef;
}