#p_index {
	padding-top: 40px;
}
#prs {
	padding: 20px 0 20px 20px;
}
#prof_projs #prs {
	padding: 15px 0 20px 10px;
}
#edit_wrap .pr_upload {
	margin-left: 10px;
}
#p_form_wrap {
	margin-top: 25px;
}
#p_form_wrap #edit_wrap {
	padding: 40px 60px 40px 60px;
	border: 1px solid #e5e5e5;
	border-radius: 20px;
}
#proj_menu {
	font-weight: bold;
	border-bottom: 1px solid #dce1e6;
	padding: 20px 0 10px 0;
	text-align: center;
}
#proj_menu ul li {
	display: inline;
}
#proj_menu a {
	padding: 0 10px;
	font-size: 1.1em;
	color: #898989;
}
#proj_menu a:hover {
	color: #444;
}
#proj_menu a:hover {
	text-decoration: none;
}
#proj_menu .proj_str_1 {
	color: #942fc6;
}
#proj_menu .proj_med_1:hover {
	color: #F7803C;
}
#proj_menu .proj_str_2:hover {
	color: #942fc6;
}
#proj_menu .proj_med_2 {
	color: #F7803C;
}
#proj_info {
	text-align: center;
	padding: 5px 0 20px 0;
}
#proj_info .proj_title {
	color: #444444;
	font-size: 1.3em;
	line-height: 28px;
	font-weight: bold;
}
#proj_info .l {
	float: left;
}
#proj_info .r {
	float: right;
}
#proj_info .ims {
	width: 30px;
	height: 30px;
}
#proj_info .btn-group {
position: relative;
display: inline;
vertical-align: baseline;
}
#proj_video {
	text-align: center;
}
#proj_about {
	font-size: 1.05em;
}
#proj_av {
	float: left;
	margin-right: 8px;
	background-color: #fff;
	border-radius: 10px;
	padding: 8px;
	-moz-box-shadow: 0 0 6px #ccc;
	-webkit-box-shadow: 0 0 6px #ccc;
	box-shadow: 0 0 6px #ccc;
}
.p_av {
	border-radius: 8px;
}
#pb {
	width: 72%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20%;
}
#pb .btn-large {
	padding: 5px 9px;
	font-size: 20px;
	border-radius: 4px;
}
#pb #info {
	color: #fff;
	float: left;
	word-wrap: break-word;
	word-break: break-word;
	-webkit-hyphens: auto;
   		-moz-hyphens: auto;
        	hyphens: auto;
    -ms-word-break: break-all;
}
#pb #p_f_ct {
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(73, 175, 205);
    /* RGBa with 0.6 opacity */
    background-color: rgba(73, 175, 205, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 5px;
	border-radius: 6px;
}
#pb #p_f_ct:hover {
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(73, 175, 205);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 5px;
	border-radius: 6px;
	cursor: default;
}
#pb .acct a {
	color: #fff;
}
#pb #info .sub {
	padding: 8px 0;
}
#pb #info .but {
	padding: 8px 0 4px 0;
}
#pb .acct a {
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 5px;
	border-radius: 6px;
}
#pb .acct a:hover {
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(147, 39, 201);
    /* RGBa with 0.6 opacity */
    background-color: rgba(147, 39, 201, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	text-decoration: none;
}
#pb .proj_fol {
	background-color: #333;
	padding: 5px;
	border-radius: 6px;
}
#pb .proj_tag {
	background-color: #333;
	padding: 5px;
	border-radius: 6px;
}
#ed_pr_head {
	text-align: center;
	margin-bottom: 15px;
}
#ed_pr_head .e1 {
	color: #444444;
	font-size: 25px;
}
#ed_pr_head .e2 {
	font-size: 1.1em;
	font-style: oblique;
}
#ed_pr_head .list {
	padding-bottom: 3px;
}
#edit_wrap .edit_pr_av {
	margin: 0 0 30px 170px;
}
#proj_info .dropdown-menu {
	left: -100px;
}
#proj_info .btn-group .del {
	border-bottom: none;
	border-top: 1px solid #ddd;
}
.pr_av {
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
.pr_in {
	width: 95%;
	font-size: 1.5em;
	padding: 3px;
}
.s_modal .modal.fade.in {
	top: 25%;
}
#edit_wrap .rq {
	color: #898989;
	font-style: oblique;
}
#p_list_wrap {
	width: 230px;
	margin: 0 20px 30px 0;
	-moz-box-shadow: 0 0 6px #ccc;
	-webkit-box-shadow: 0 0 6px #ccc;
	box-shadow: 0 0 6px #ccc;
	border-radius: 8px;
}
#prof_projs #p_list_wrap {
	margin: 0 10px 30px 0;
}
#p_list_wrap .p-av {
	height: 230px;
	overflow: hidden;
}
#p_list_top {
	padding: 5px;
	border-bottom: 1px solid #dce1e6;
}
#p_list_top .ims {
	width: 30px;
	height: 30px;
}
#p_list_top .ims-act {
	width: 22px;
	height: 22px;
}
#p_list_top .btn-group {
	display: inline;
	vertical-align: baseline;
}
#p_list_top .l {
	float: left;
}
#p_list_top .r {
	float: right;
	padding-top: 3px;
}
#p_list_top .btn-group .del {
	border-top: 1px solid #ddd;
}
.pl_av {
	width: 100%;
	height: 188px;
}
#pl_info {
	text-align: center;
	padding: 5px 0;
	border-top: 1px solid #dce1e6;
}
#pl_info .pl_t a {
	color: #444444;
	font-weight: bold;
}
#pl_info .pl_t a:hover {
	color: #c72835;
	text-decoration: none;
}
#pl_info .pl_ts a {
	font-size: .8em;
	color: #fff;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 3px;
	border-radius: 4px;
	line-height: 200%;
	white-space: nowrap;
}
#pl_info .pl_ts a:hover {
	/* Fallback for web browsers that don't support RGBa */
    background-color: rgb(147, 39, 201);
    /* RGBa with 0.6 opacity */
    background-color: rgba(147, 39, 201, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	text-decoration: none;
}
.pl_bl {
	padding: 0 8px 8px 8px;
	font-size: .85em;
}
.pl_tm {
	text-align: center;
	padding: 8px 8px 8px 8px;
	font-weight: bold;
	font-size: 1.05em;
	color: #444;
	border-top: 1px solid #dce1e6;
}
#p_list_wrap .dropdown-menu {
	left: -130px;
}
#sleft {
	float: left;
	width: 200px;
	padding: 20px 0;
	text-align: center;
}
.swrap {
	border-right: 1px solid #dce1e6;
}
.swrap .shead {
	color: #444;
	font-weight: bold;
	background-color: #dce1e6;
	padding: 5px 0;
}
.swrap .sbody {
	padding: 8px 5px;
}
.swrap .sbody li {
	padding: 6px 0;
}
.swrap .sbody li a {
	color: #fff;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 3px 5px;
	border-radius: 4px;
}
.swrap .sbody li a:hover {
	text-decoration: none;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(147, 39, 201);
    /* RGBa with 0.6 opacity */
    background-color: rgba(147, 39, 201, 0.8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
}
.nav_p_ct {
	font-size: .9em;
	color: #fff;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(34, 34, 34);
    /* RGBa with 0.6 opacity */
    background-color: rgba(34, 34, 34, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#22222222, endColorstr=#22222222)";
    -background: transparent;
	padding: 2px 6px;
	border-radius: 7px;
}
.pr_wrap .tab-content {
	overflow: visible;
}
.pr_wrap .nav-tabs {
	font-size: 1.333em;
	border-bottom: 1px solid #dce1e6;
	padding: 20px 0 0 0;
	text-align: center;
}
.pr_wrap .nav-tabs li {
	float: none;
	 display:inline-block;
    *display:inline; /* ie7 fix */
}
.pr_wrap .nav-tabs li a {
	color: #898989;
}
.pr_wrap .nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #444444;
  border: none;
  border-bottom: 4px solid #da4f49; 
  cursor: pointer;
}
.pr_wrap .nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	border: none;
	border-bottom: 4px solid #da4f49;
	color: #444444;
	background-color: transparent;
}
.pr_wrap #comment_btn .btn {
	font-size: 1.05em;
}
.pr_wrap .com_con {
	font-size: 1.05em;
}
.pr_wrap .comment_name {
	font-size: 1.3em;
	cursor: default;
}
.pr_wrap .owner {
	font-size: 14px;
	color: #fff;
	 /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(218, 79, 73);
	padding: 2px 6px;
	border-radius: 7px;
}
.pr_wrap .meta {
	font-size: 1em;
	font-weight: normal;
}
.pr_wrap .comment_del img {
	width: 16px;
	height: 16px;
	margin-top: 6px;
}
.pr_wrap .com_av {
	-webkit-border-radius: 60px;
	border-radius: 60px;
}
.pr_wrap .com_con {
	padding: 0 0 0 51px;
}
#pright #stream_filters {
	text-align: center;
}
.pr_wrap .p_u_btn {
	text-align: center;
}
.pr_wrap .u_btn {
	text-align: center;
}
#p_m_list_wrap {
	padding: 10px 0 60px 5px;
	position: relative;
}
#p_m_list_wrap .list_act_wrap {
	width: 188px;
	position: relative;
	margin-bottom: 16px;
}
#p_m_list_wrap .act_name {
	top: 12px;
}
#p_m_t_wrap .p_m_t_icon {
	width: 12px;
	height: 12px;
	vertical-align: top;
	margin: 1px 2px 0 0;
}
#p_m_t_wrap .del_u_wrap {
	float: right;
	display: none;
	margin-left: 2px;
}
#p_m_t_wrap .del_u_wrap img {
	width: 13px;
	height: 13px;
}
#p_m_t_wrap:hover .del_u_wrap {
	display: inline;
}
#p_m_t_wrap .p_m_t {
	float: right;
	color: #898989;
	font-weight: bold;
	cursor: default;
}
.pr_wrap .c_message {
	text-align: center;
	font-size: 1.2em;
	color: #444;
}
#update .p_m_text {
	font-size: 1.2em;
	color: #444;
	margin-bottom: 10px;
}
#update .p_m_input {
	width: 100%;
	margin-bottom: 10px;
}
.pr_wrap .modal-body {
	max-height: 500px;
}
.pr_wrap .u_tit {
	float: left;
}
.pr_wrap .u_time {
	float: right;
}
.pr_wrap .u_del {
	float: right;
	display: none;
}
.pr_wrap #update_wrap:hover .u_del {
	display: inline;
}
.pr_wrap .u_del img {
	width: 18px;
	height: 18px;
	margin: 2px 5px 0 5px;
}
.pr_wrap #u_top {
	padding: 10px 0;
	color: #444;
	font-size: 1.5em;
	border-bottom: 1px solid #444;
}
.pr_wrap #u_bottom {
	font-size: 1.05em;
	padding: 10px 0;
}
#prs .none_message {
	padding: 0;
}
#p_form_wrap .p_tit_ct {
	margin: 0 0 30px 178px;
}
#p_form_wrap .p_blb_ct {
	margin: 0 0 15px 178px;
}
#p_form_wrap .p_ct_tit {
	color: #444;
	font-size: 1.5em;
}
#p_form_wrap .p_ct_blb {
	color: #444;
	font-size: 1.5em;
}
#p_form_wrap .p_ct_text {
	font-size: 1.2em;
	color: #444;
}
#edit_wrap .t_in {
	margin: 0 0 5px 15px;
}
#edit_wrap .bl_in {
	margin: 0 0 5px 175px;
}
#p_form_wrap .redactor_toolbar {
	position: relative;
	top: 0;
	left: 0;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	line-height: 1 !important;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#update .redactor_toolbar {
	position: relative;
	top: 0;
	left: 0;
	margin: 0 !important;
	padding: 0 !important;
	list-style: none !important;
	line-height: 1 !important;
	background: #fff;
	border-bottom: 1px solid #e5e5e5;
}
#p_form_wrap .redactor_box {
	border: 1px solid #e5e5e5;
	border-radius: 20px;
	min-height: 200px;
}
#update .redactor_box {
	border: 1px solid #e5e5e5;
	min-height: 200px;
}
#p_form_wrap .redactor_editor {
	position: relative;
	overflow: auto;
	margin: 0 !important;
	padding: 10px 20px;
	padding-bottom: 5px;
	outline: none;
	background: #fff;
	white-space: normal;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#update .redactor_editor {
	position: relative;
	overflow: auto;
	margin: 0 !important;
	padding: 10px 20px;
	padding-bottom: 5px;
	outline: none;
	background: #fff;
	white-space: normal;
	font-size: 1em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#proj_about li {
	display: list-item;
	list-style: disc;
	padding: .25em 0;
}
#proj_about ul {
	padding: 0 2em;
}
#u_list_wrap ul {
	padding: 0 2em;
}
#u_list_wrap li {
	display: list-item;
	list-style: disc;
	padding: .25em 0;
}
#proj_about hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	margin-top: 30px;
	margin-bottom: 30px;
}
#u_list_wrap hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	margin-top: 30px;
	margin-bottom: 30px;
}
.redactor_editor li {
	list-style: disc;
}