@media all and (max-width: 1280px) and (min-width: 1024.1px) {
    #main_wrap {
      	width: 77%;
    }
    #error_wrap {
      	width: 77%;
    }
    #activity_stream_wrap {
    	padding: 10px 0 10px 10px;
    }
    .home_form {
    	width: 60%;
    }
}
@media all and (max-width: 1024px) and (min-width: 960.1px) {
    #main_wrap {
      	width: 98%;
    }
    #error_wrap {
      	width: 98%;
    }
    #profile_wrap {
    	width: 98%;
    }
    #media_query_stream {
    	padding-left: 15px;
    }
    #media_query_media {
    	padding-left: 8px;
    }
    #media_query_prev {
    	padding-left: 8px;
    }
    .home_form {
    	width: 75%;
    }
    #home_bottom_wrap {
    	font-size: 4em;
    	text-shadow: 2px 1px 0px #fff, 5px 4px 0px rgba(0,0,0,0.15);
    }
    .scrollup {
    	opacity: .7;
    	right: 10px;
    	z-index: 1000000000;
    }
    .menu_logo {
    	margin-left: 60px;
    }
}
@media all and (max-width: 960px) and (min-width: 800.1px) {
    #main_wrap {
      	width: 82%;
    }
    #error_wrap {
      	width: 82%;
    }
    #profile_wrap {
    	width: 98%;
    }
    #media_query_stream {
    	padding-left: 55px;
    }
    #media_query_media {
    	padding-left: 0;
    }
    #media_query_prev {
    	padding-left: 25px;
    }
    #media_query_follow {
    	padding-left: 65px;
    }
    #li_index {
    	padding-left: 30px;
    }
    .home_form {
    	width: 60%;
    }
    .menu_logo {
    	margin-left: 40px;
    }
}
@media all and (max-width: 800px) and (min-width: 720.1px) {
    #main_wrap {
      	width: 90%;
    }
    #error_wrap {
      	width: 90%;
    }
    #profile_wrap {
    	width: 98%;
    }
    #media_query_stream {
    	padding-left: 25px;
    }
    #media_query_media {
    	padding-left: 60px;
    }
    #media_query_prev {
    	padding-left: 100px;
    }
    #media_query_follow {
    	padding-left: 30px;
    }
    #li_index {
    	padding-left: 100px;
    }
    .home_form {
    	width: 60%;
    }
    .menu_logo {
    	display: none;
    }
    .scrollup {
    	opacity: .7;
    	right: 10px;
    	z-index: 1000000000;
    }
    #nav_bar .primary_nav {
    	display: none;
    }
    #nav_bar .query_nav {
    	display: inline-block;
    }
    #nav_bar .query_nav .dropdown-menu {
    	left: 10px;
    }
}
@media all and (max-width: 720px) and (min-width: 480.1px) {
    #main_wrap {
      	width: 98%;
    }
    #error_wrap {
      	width: 98%;
    }
    #profile_wrap {
    	width: 98%;
    }
    #media_query_stream {
    	padding-left: 55px;
    }
    #media_query_media {
    	padding-left: 50px;
    }
    #media_query_prev {
    	padding-left: 90px;
    }
    #media_query_follow {
    	padding-left: 20px;
    }
    #li_index {
    	padding-left: 100px;
    }
    .home_form {
    	width: 60%;
    }
    .menu_logo {
    	display: none;
    }
    .scrollup {
    	opacity: .7;
    	right: 10px;
    	z-index: 1000000000;
    }
     #nav_bar .primary_nav {
    	display: none;
    }
    #nav_bar .query_nav {
    	display: inline-block;
    }
    #nav_bar .query_nav .dropdown-menu {
    	left: 10px;
    }  
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
	#media_query_stream {
    	padding-left: 55px;
    }
    .login_bg {
    	background-image: url('/assets/Login Banner 2.png');
    }
    #nav_bar {
    	position: relative;
    }
    #pagewrap {
    	padding-top: 0;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
    .login_bg {
    	background-image: url('/assets/Login Banner 2.png');
    }
    #nav_bar {
    	position: relative;
    }
    #pagewrap {
    	padding-top: 0;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    .login_bg {
    	background-image: url('/assets/Login Banner 2.png');
    }
    #nav_bar {
    	position: relative;
    }
    #pagewrap {
    	padding-top: 0;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    .login_bg {
    	background-image: url('/assets/Login Banner 2.png');
    }
    #nav_bar {
    	position: relative;
    }
    #pagewrap {
    	padding-top: 0;
    }
}