.registration .popover-title {
	color: #FFF;
	background-color: #49afcd;
	font-weight: bold;
}
.registration .popover li {
	padding: 2px 0 2px 0;
	color: #6d6d6d;
	font-size: .9em;
}
.popover .names {
	padding: 8px;
}
#edit_wrap .leg {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 40px;
	font-size: 25px;
	line-height: 40px;
	color: #898989;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
#edit_wrap fieldset {
	padding: 0 0 10px 0;
	margin: 0;
	border: 0;
}
#edit_wrap .upload {
	margin: 0 0 30px 180px;
}
#edit_wrap .edit_av {
	margin: 0 0 30px 180px;
}
.edit_pass {
	font-size: 14px;
	font-weight: normal;
	color: #333;
	font-style: oblique;
}
#edit_wrap .popover-title {
	color: #FFF;
	background-color: #49afcd;
	font-weight: bold;
}
#edit_wrap .popover li {
	padding: 2px 0 2px 0;
}
.shared_links {
	margin: 6px 0;
}
.edit_instructions {
	font-size: .9em;
	color: #898989;
	margin-bottom: 40px;
}
.edit_instructions li {
	padding: 2px 0;
}
#edit_wrap .descriptors {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	font-size: 25px;
	line-height: 40px;
	color: #898989;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}
.popover .pursuits {
	font-style: oblique;
	margin-top: 3px;
	color: #6d6d6d;
}