// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.status {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;
}

.status p {
	padding: 0px 0px;
}

.status.hover {
	background: #FAFAFA;
}

.status_name {
	font-weight: bold;
	font-size: 1.1em;
	padding: 0 0 5px 0;
}

.status .content {
	padding-bottom: 3px;
}

.status .ad_item {
	display: none;
}

.status.hover .ad_item {
	display: inline;
}

.meta {
	font-weight: bold;
	font-size: .8em;
	color: #898989;
	padding: 3px 0;
}

.label a {
	font-color: #FFF;
	text-decoration: none;
}

#update_att {
	display: none;
}
#statuses {
	position: relative;
	padding: 20px 0;
}
#statuses .list_act_wrap {
	margin-bottom: 16px;
}
#statuses .act_name {
	top: 12px;
}