<% @brands.each do |brand| %>
	<div id="bi_wrap">
		<div id="bi_top">
			<div class="bi_tit">
				<%= link_to brand.name, brand_path(brand) %>
			</div>

			<div class="bi_mk">
				<%= brand.marker_list.map { |m| link_to m.titleize, :controller => "brands", :action => "index", :search => m }.join(' ').html_safe %>
			</div>
		</div>

		<div id="bi_bottom">
			<span class="ims_wrap">
				<%= logo_brand_link brand, class: 'ims' %>
			</span>

			<div class="b_descr">
				<%= raw Rinku.auto_link(brand.description) %> 
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
<% end %>