<% @activities.each do |activity| %>
	<div class="status">
            <div class="row">
                <div class="span1 stream_av">
                    <%= avatar_profile_link activity.member %>
                </div> 
                <div class="span7">

    				<%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}",
    					locals: { activity: activity } %>

    				<% if activity.member == current_member %>
	    				<div class="meta">
        				    <%= link_to 'Delete', activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %>
        				</div>
        			<% end %>
                    
                </div>
            </div> 
		</div>
<% end %> 