<% title "LLF | Activity" %>

<div id ="main_wrap">

	<h1>Activity Stream</h1>

	<%= link_to 'Post to Stream', profile_path(current_member), :class => 'btn btn-info' %>

	<div id="activity_stream_wrap">		
			<%= render partial: "activities" %>
	</div>

	<%= will_paginate @activities %>

</div>



<!--/main_wrap-->