<% title "LLF | Activity" %>

<div id ="main_wrap">

	<h1>Activity Stream</h1>

	<%= link_to 'Post to Stream', profile_path(current_member), :class => 'btn btn-info' %>

	<div id="activity_stream_wrap">		
			<%= render partial: "activities" %>
	</div>

	<%= will_paginate @activities, class: 'display_none'%>

	<% if @activities.total_pages != @activities.current_page %>
		<div id="loading"></div>
		<div class="load_more">
	        <%= link_to image_tag("Load More Arrow.png", :class => "load_arrow"), "#" %>
	    </div>
	<% end %>

</div>



<!--/main_wrap-->