<% title "LLF | Activity" %>

<div id ="main_wrap">

	<% @activities.each do |activity| %>
		<div class="status">
	            <div class="row">
	                <div class="span1 stream_av">
	                    <%= avatar_profile_link activity.member %>
	                </div> 
	                <div class="span7">

	    				<%= render partial: "activities/#{activity.targetable_type.underscore}/#{activity.action}",
	    					locals: { activity: activity } %>
	                    
	                </div>
	            </div> 
			</div>
	<% end %> 

</div>

<!--/main_wrap-->