<% title "LLF | Members" %>

<div id ="main_wrap">

	<%= form_tag members_path, :method => :get do %>
	  <p>
	    <%= text_field_tag :search, params[:search] %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>

</div>